/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.smallContainer {
  max-width: 600px;
  margin: 0 auto; }

.tinyContainer {
  max-width: 400px;
  margin: 0 auto; }

.content {
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

.sidebar {
  width: 33.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

.col-sm-12 {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

.col-sm-2 {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

.col-sm-3 {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

@media screen and (min-width: 768px) {
  .col-md-2 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
    .col-md-2:last-child {
      float: right; }
  .col-md-3 {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
    .col-md-3:last-child {
      float: right; }
  .col-md-6 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
    .col-md-6:last-child {
      float: right; } }

/*Tipografia de la pagina*/
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_Thin.ttf");
  font-weight: 100; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_ExtraLight.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat_Black.ttf");
  font-weight: 900; }

body {
  font-family: 'montserrat'; }

h1, h2, h3, h4, h5 {
  font-family: 'montserrat'; }

img {
  width: 100%; }

ul {
  list-style-type: none;
  margin: 9px 0;
  padding: 0; }

.btn {
  background-color: #fbb803;
  border-radius: 33px;
  padding: 15px;
  display: block;
  margin: 30px auto;
  border: 0;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all .3s;
  cursor: pointer;
  max-width: 200px; }
  .btn:hover {
    background-color: transparent;
    border: 1px solid #fbb803;
    color: #fbb803; }

.btn-blue {
  background-color: #1b264f;
  color: #fff; }
  .btn-blue:hover {
    color: #1b264f;
    border: 1px solid #1b264f; }

.btn-red {
  background-color: #a30b37;
  color: #fff; }
  .btn-red:hover {
    color: #a30b37;
    border: 1px solid #a30b37; }

.btn-small {
  border-radius: 33px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  max-width: 170px; }

p {
  margin: 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.modalElement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding-top: 50px;
  text-align: center; }
  .modalElement_container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background: #f8f9fb;
    border-radius: 10px; }

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  background-color: #efeff1;
  margin: 10px 0; }

.headPage {
  background: #000;
  padding: 20px; }

h1 {
  color: #fff;
  font-weight: 700; }

.projectsRequest {
  margin: 30px auto; }
  .projectsRequest label {
    width: 100%; }
  .projectsRequest input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #efeff1; }
  .projectsRequest .row {
    margin: 10px 0; }
  .projectsRequest .btnUpload {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #efeff1;
    transition: background .3s;
    cursor: pointer; }
    .projectsRequest .btnUpload:hover {
      background-color: #adadad; }

.projectAnotations {
  background: #efeff1;
  padding: 10px;
  border-radius: 10px; }

body {
  margin: 0; }

.dashboard {
  background: #efeff1;
  padding: 40px; }

.box {
  background: #fff;
  padding: 0;
  border-radius: 10px;
  margin: 10px  0; }

.boxTitle {
  color: #1b264f;
  border-bottom: 7px solid #efeff1;
  font-size: 18px;
  padding: 10px;
  font-weight: 400; }

.boxContent {
  padding: 10px 20px 20px; }

.boxAlternative {
  background: #efeff1; }
  .boxAlternative .boxTitle {
    border-bottom: 7px solid #fff; }

.listAnotations .item {
  background: #f8f9fb;
  border-radius: 15px;
  padding: 10px 10px;
  font-weight: 300;
  margin-top: 10px;
  position: relative; }

.listAnotations .itemName {
  float: left; }

.listAnotations .itemMore {
  float: right;
  font-size: 20px; }

.menuExtend {
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 3;
  background: #fff;
  top: 44px;
  right: -13px;
  border-radius: 10px;
  width: 198px;
  text-align: center; }

.anotationOptions a {
  padding: 11px;
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #1b264f; }
  .anotationOptions a:hover {
    background: #f8f9fb; }

.createAnotation {
  float: left; }

.moreAnotations {
  float: right; }

.item {
  background: #efeff1;
  border-radius: 15px;
  padding: 10px 10px;
  font-weight: 300;
  margin-top: 10px;
  position: relative; }

.avatar {
  max-width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px; }

.avatar.small {
  max-width: 30px;
  height: 30px; }

.listStudents .avatar {
  float: left; }

.listStudents .name {
  float: left;
  margin-top: 5px; }

.listStudents .trash {
  float: right;
  color: #000;
  padding: 5px 10px; }
  .listStudents .trash:hover {
    opacity: 0.7; }

.menu {
  background-image: linear-gradient(51deg, #000000 0%, #1b1b1b 45%, #222222 100%);
  padding: 10px 0;
  width: 10%;
  text-align: center;
  color: #fff;
  float: left;
  position: fixed;
  height: 100%;
  left: 0;
  top: 42px;
  z-index: 5;
  overflow-y: auto; }
  @media screen and (max-width: 988px) {
    .menu {
      left: -100%; } }
  .menu a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    padding: 14px 0px;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    transition: all .3s; }
    .menu a:hover {
      background-color: #313131; }
  .menu i {
    font-size: 24px;
    display: block; }

.logo img {
  max-width: 50px; }

.dashboard {
  background: #efeff1;
  padding: 40px;
  width: 100%;
  float: left;
  padding-left: 13%; }
  @media screen and (max-width: 988px) {
    .dashboard {
      padding-left: 25px; } }

.mainHeader {
  background-image: linear-gradient(51deg, #222222 0%, #1b1b1b 45%, #000000 100%);
  color: #Fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 42px;
  z-index: 5; }
  .mainHeader ul {
    padding: 0;
    margin: 0; }
  .mainHeader nav {
    float: right;
    padding-right: 43px; }
  .mainHeader .movil {
    width: 50%;
    float: left;
    display: none; }
    @media screen and (max-width: 988px) {
      .mainHeader .movil {
        display: block; } }
    .mainHeader .movil a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      display: block; }

.user {
  padding: 10px; }

.fl li {
  float: left; }

.user .avatar {
  float: left; }

.user i {
  float: left; }

.notifications {
  position: relative; }
  .notifications .notificationsQuantity {
    position: absolute;
    z-index: 2;
    background: #fbb803;
    padding: 3px 7px;
    border-radius: 52%;
    font-size: 10px;
    margin-top: 4px; }
  .notifications i {
    padding: 12px 10px; }

.sub-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all .4s; }

.has-child:hover .sub-menu {
  display: block;
  visibility: visible;
  opacity: 1; }

.sub-menu {
  background: #ccc; }

#login .data {
  background: #fff;
  text-align: center;
  font-family: 'montserrat';
  font-weight: 300;
  font-size: 20px; }
  #login .data input.data::-webkit-input-placeholder {
    font-size: 14px; }

#login .buttonsubmit {
  padding: 2%; }
  #login .buttonsubmit:hover {
    background-color: transparent;
    border: 0.5px solid #fbb803;
    color: #fbb803; }

#login a {
  text-decoration: none;
  color: #000; }
