
h2{
	font-family: 'montserrat';
	font-weight: 400;
	font-size: 2.5em;
}
p{
	font-family: 'montserrat';
	font-weight: 300;
}
/*estilos del header*/
	#color{
		background: #000;
		margin: 0;
		padding: 0 20%;
		position: fixed;
		width: 100%;
		border-radius: 0;
		z-index: 4;
	}
		#color a{
		font-family: 'montserrat';
		font-weight: 100;
		}
			#color a:hover{
			color: #f8c300;
			}
		#color img{
			width: 70%;
			padding: 15% 0 0 30%;
		}
/*estilos del main*/
	/*estilos del primer section*/
		#banner{
			background-image: url(../imgs/background1.png);
			background-size: 100%;
		}
			#banner h2{
				color: #fff;
				margin: 0;
				padding: 30% 0 0 30%;
			}
			#banner p{
				color: #fff;
				padding: 0 0 20% 40%;
				margin: 0;
			}
	/*estilos del segundo section*/
		#nosotros{
			background: #fff;
		}
			#nosotros h2{
				color: #000;
			}
			#description{
				width: 50%;
				color: #000;
				font-size: 1em;
				font-weight: 300;
				font-family: 'montserrat';
				padding: 0 3%;

			}
			#cenfo{
				position: relative;
				z-index: 1;
			}
				#cenfo img{
					margin-top: 15%;
					border-radius: 2%;
					position: absolute;
				}
	/*estilos del tercer section*/
		#services{
			background: #000;
		}
			#services h2{
				color: #fff;
				margin: 20% 0;
			}
		
			#services ul{
				margin-bottom: 20%;
			}
				#services li{
					padding: 3% 0;
				}
				#services li p{
					color: #fff;
					font-size: 1em;
					font-weight: 100;
					font-family: 'montserrat';
				}
					#services li p:hover{
						color: #f8c300;
					}
			
				#services li span{
					width: 40px;
					font-size: 1.5em;
					color: #f8c300;
					margin-right: 8%;
				}
					#services li span:hover{
						-webkit-transform: rotate(-9deg);
    					-moz-transform: rotate(-9deg);
    					-o-transform: rotate(-9deg);
					}
	/*Estilos del 4 section*/
		#contacto{
			background: #fff;

		}
			#contacto h2{
				color: #000;
				margin: 20% 0;
			}	
			#contacto p{
				color: #000;

			}
				#contacto i{
					color: #f8c300;
					font-size: 1.3em;
					padding-right: 3%;
				}
/*estilos del footer*/
	.footer-copyright {
		background: #171717;
		padding: 10px 0;
		color: #fff;
		font-weight: 300;
	}
		#genius{
			font-family: 'montserrat';
			color: #f8c300;
			font-weight: 100;
		}
			#genius:hover{
				color: #9b59b6;
			}