body{
	font-family: 'montserrat'
}
/*estilos del header*/
#color{
	background: #000;
	margin: 0;
	padding: 0 20%;
	position: fixed;
	width: 100%;
	border-radius: 0;
	z-index: 1;
}
	#color a{
	font-family: 'montserrat';
	font-weight: 100;
	}

		#color a:hover{
		color: #f8c300;
		}
	#color img{
		width: 50%;
		padding: 15% 0 0 30%;
	}

/*estilos del main*/
	/*estilos del primer section*/
		#banner{
			background-image: url(../imgs/background1.png);
			background-size: 100%;
		}
			#banner h2{
				color: #fff;
				font-family: 'montserrat';
				font-weight: 400;
				font-size: 2.5em;
				margin: 0;
				padding: 15% 0 0 30%;
			}
			#banner p{
				color: #fff;
				font-family: 'montserrat';
				font-weight: 300;
				padding: 0 0 10% 40%;
				margin: 0;
			}
	/*estilos del segundo section*/
		#nosotros{
			background: #fff;
		}
			#nosotros h2{
				width: 20%;
				margin: 0;
				color: #000;
				font-size: 2.5em;
				font-family: 'montserrat';
				font-weight: 400;
				margin: 0 auto;
				padding: 3% 0;
			}
			#description{
				width: 50%;
				color: #000;
				font-size: 1em;
				font-weight: 300;
				font-family: 'montserrat';
				padding: 0 3%;
			}
			#cenfo{
				position: relative;
				z-index: 999;
			}
				#cenfo img{
					margin-top: 15%;
					border-radius: 2%;
					position: absolute;
				}

	/*estilos del tercer section*/
	/*estilos del tercer section*/
	#services{
		background: #000;
	}
		#services h2{
			color: #fff;
			margin: 0 auto;
			padding: 3% 0;
			font-family: 'montserrat';
			font-size: 300;
		}
		#fondo2{
			background-image: url(../imgs/code.jpg);
			background-position: center;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			margin: 0 auto;
		}
		#service ul{
			
		}
			#services li p{
				color: #fff;
				font-size: 1em;
				font-weight: 100;
				font-family: 'montserrat';
			}
		
			#services li span{
				width: 40px;
				font-size: 2em;
			}
	
/*estilos del footer*/
.footer-main {
	background: #171717;
	padding: 20px 0;  
	color: #fff;
}
	.footer-main i {
	    margin-right: 5px;
	    margin-top: 8px;
	    color: #fbb803;  
	}
	.footer-main img {
		width: 20%;
		display: inline;
	}
.footerSecond {
  width: 40%;
  float: right;
  text-align: right; 
} 
.footer-copyright {
	background: #171717;
	padding: 10px 0;
	color: #fff;
	font-weight: 300;
} 