<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Menu                            =
========================================================================================-->

<div class="menu">
  <div class="logo">
  </div>
  <nav class="menu">
    <ul>
      <li>
        <a href="">Inicio</a>
      </li>
      <li>
        <a href="">item</a>
      </li>
      <li>
        <a href="">item 2</a>
      </li>
      <li>
        <a href="">item 3</a>
      </li>
      <li>
        <a href="">item 4</a>
      </li>
    </ul>
  </nav>
</div>