<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Menu                            =
========================================================================================-->

<div>
  <div class="logo">
    <img src="http://www.cenfotecsoftwarehouse.com/images/Cenfotec-Software-House-Logo.png">
  </div>
  <nav>
    <ul>
      <li>
        
        <a href="">
        <i class="fa fa-home"></i>
        Escritorio</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-th-list"></i>
        Proyectos</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-users"></i>
        Estudiantes</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-user-secret"></i>
        Profesores</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-user-circle-o"></i>
        Consejo</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-list-alt"></i>
        Reportes</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-cog"></i>
        Configuración</a>
      </li>
      <li>
        <a href="">
        <i class="fa fa-power-off"></i>
        Salir</a>
      </li>
    </ul>
  </nav>
</div>