<header>
  <div class="landingContainer">
    <nav class="landingMenu">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#!/landingPage#inicio">Inicio</a></li>                
        <li><a href="#!/landingPage#servicios">Servicios</a></li>
        <li><a href="#!/landingPage#nosotros">Nosotros</a></li>
        <li class="brand-logo"><img src="http://www.cenfotecsoftwarehouse.com/images/Cenfotec-Software-House-Logo.png"></li>
        <li><a href="#!/solicitud-proyecto">Solicitudes</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/logIn">Iniciar sesión</a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="slider" id="inicio">
  <div class="landingContainer">
  	<h2>Cenfotec Software House</h2>
  </div>
</section>

<section class="hero">
  <div class="landingContainer-small">
    <p>Su casa para recibir servicios profesionales en tecnología de información, de gran calidad, diseñados y construidos por estudiantes y profesores de la Universidad Cenfotec para la comunidad.</p>
    <div class="btnInfo">
      <a href="#!/landingPage#servicios" class="btnOne">Servicios</a>
      <a href="" class="btnTwo">Proyectos</a>
    </div>
  </div>
</section>

<section class="services" id="servicios">
  <div class="landingContainer-small">
    <h1>Servicios</h1>
    <div class="cf">
      <div class="col-sm-12 col-md-2">
        <ul class="collapsible">
          <li>
              <div class="collapsible-header"><i class="fa fa-pencil-square-o"></i></div>
            <div class="collapsible-body"><p>Desarrollo y diseño de prototipos</p></div>
          </li>
          <li>
              <div class="collapsible-header"><i class="fa fa-code"></i></div>
              <div class="collapsible-body"><p>Desarrollo y diseño web</p></div>
          </li>
          <li>
              <div class="collapsible-header"><i class="fa fa-code-fork"></i></div>
              <div class="collapsible-body"><p>Desarrollo de apps</p></div>
          </li>
          <li>
              <div class="collapsible-header"><i class="fa fa-server"></i></div>
              <div class="collapsible-body"><p>Desarrollo de aplicaciones</p></div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2">
        <ul>
           <li>
              <div class="collapsible-header"><i class="fa fa-cogs"></i></div>
              <div class="collapsible-body"><p>Pruebas de calidad de software</p></div>
          </li>
          <li>
              <div class="collapsible-header"><i class="fa fa-list"></i></div>
              <div class="collapsible-body"><p>Confección de requerimientos</p></div>
          </li>
          <li>
              <div class="collapsible-header"><i class="fa fa-database"></i></div>
              <div class="collapsible-body"><p>Diseño de bases de datos</p></div>
          </li>
          <li>
              <div class="collapsible-header"><i class="fa fa-rocket"></i></div>
              <div class="collapsible-body"><p>Apoyo en proyectos/ Programa Semilla</p></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="about" id="nosotros">
  <h1>Nosotros</h1>
  <div class="landingContainer-small">
    <div class="aboutContent">
      <div class="image">
        <img src="imgs/about.jpg">
      </div>
      <div class="whiteSection"></div>
      <div class="infoDesc">
        <p>
          El Cenfotec Software House es un proyecto de emprendimiento académico y profesional dentro de la Universidad Cenfotec, donde los estudiantes de la Universidad brindan servicios a la comunidad, asesorados por profesores expertos en diferentes áreas, con precios muy asequibles.
        </p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="footer-main" id="contacto">
    <div class="landingContainer">
      <div class="row cf">
        <div class="footerFirst">
          <h3>Dirección</h3>
          <p class="grey-text text-lighten-4">
          Santa Marta – SAN Pedro de Montes de Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José. Costa Rica.</p>
          <div class="icons"></div>
         <p><i class="fa fa-envelope-o"></i>softwarehouse@ucenfotec.ac.cr</p>
         <p><i class="fa fa-phone"></i>+506 2281-1555</p>
        </div>
        <div class="footerSecond">
          <img src="http://www.cenfotecsoftwarehouse.com/images/logo-cenfotec.png">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="landingContainer">
      <p>Universidad Cenfotec. Derechos reservados 2017</p>
    </div>
  </div>
</footer>

