<header>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="color">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>   
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><img id='logo' src='./imgs/cshLogo.png'></li>
        <li><a href="#!/solicitudProyecto">Proyectos</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/entrar">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="panel-heading">
    <div class="col-md-6 col-md-offset-3">
      <h2>Solicitud estudiante para Cenfotec Software House</h2>
    </div>
  </div>
  <div class="studentRequest col-md-12">
        <!--<h6>Información obligatoria:</h6>-->
        <form name="studentForm" class="container" autocomplete="off">
         <!-- Nombre -->
     
          <div class="form-group col-md-3 col-sm-12 ibck">
            <label for="name">Nombre:</label>
              <input type="text" ng-model="vm.name" id="txtname" class="form-control" name="name" required pattern="[ñáéíóúA-Za-z ]+">
            <div ng-messages="studentForm.name.$error" ng-hide="studentForm.name.$pristine">
            <div ng-message="required" ng-hide="studentForm.name.$pristine" class="red darken-2 center-align white-text">Este campo es requerido!</div>
            <div ng-message="pattern" ng-hide="studentForm.name.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
            </div>
          </div>

          <!-- Primer Apellido -->
          <div class="form-group col-md-3 col-sm-12 ibck">
            <label for="surName">Primer apellido:</label>
              <input type="text" ng-model="vm.surName" id="txtFirstName" class="form-control" name="surName" pattern="[ñáéíóúA-Za-z ]+">
            <div ng-messages="studentForm.surName.$error" ng-hide="studentForm.surName.$pristine">
            <div ng-message="required" ng-hide="studentForm.surName.$pristine"  class="red darken-2 center-align white-text">Este campo es requerido!</div>
            <div ng-message="pattern" ng-hide="studentForm.surName.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
            </div>
          </div>

          <!-- Segundo Apellido -->
           <div class="form-group col-md-3 col-sm-12 ibck">
            <label for="secondSurname">Segundo apellido:</label>
              <input type="text" ng-model="vm.secondSurname" id="txtFirstName" class="form-control" name="secondSurname" pattern="[ñáéíóúA-Za-z]+">
            <div ng-messages="studentForm.secondSurname.$error" ng-hide="studentForm.secondSurname.$pristine">
              <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido!</div>
              <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
            </div>
          </div>

          
          <!-- Cedula de identidad -->
          <div class="form-group col-md-3 col-sm-12 ibck">
            <label for="id">Cédula de identidad</label>
              <input type="text" ng-model="vm.id" id="txtid" class="form-control" name="id" pattern="[0-9]+" maxlength="9" minlength="9">
            <div ng-messages="studentForm.id.$error" ng-hide="studentForm.id.$pristine">
              <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido!</div>
              <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
              <div ng-message="maxlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
              <div ng-message="minlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
            </div>
          </div>


          <!-- Fecha de nacimiento -->
          <div class="form-group col-md-3 col-sm-12 ibck" ng-class="{ 'has-error' : studentForm.birthdate.$invalid && !studentForm.birthdate.$pristine }">
            <label>Fecha de nacimiento:</label>
            <input ng-model="vm.birthdate" id="txtid" type="date" class="form-control" name="birthdate" ng-required="requeridoNombre">

            <p ng-show="studentForm.birthdate.$invalid && !studentForm.birthdate.$pristine" class="help-block">La fecha es requerido.</p>
          </div>
                
          <!-- Correo electronico -->
          <div class="form-group col-md-3 col-sm-12 ibck" ng-class="{ 'has-error' : studentForm.email.$invalid && !studentForm.email.$pristine }">
            <label>Correo electrónico:</label>
            <input ng-model="vm.email" id="txtEmail" type="email" class="form-control" name="email" required unique>
            <p ng-show="studentForm.email.$invalid && !studentForm.email.$pristine" class="help-block">El correo es requerido.</p>
            <div class="custom-error" ng-show="myForm.email.$dirty && myForm.email.$invalid">Inválido:  
              <span ng-show="studentForm.email.$error.required">Correo es requirido.</span>
              <span ng-show="studentForm.email.$error.email">Por favor, escriba una dirección de correo valida.</span>
            </div>
          </div>

          <!-- Password -->
          <div class="form-group col-md-3 col-sm-12 ibck">
            <label for="newPassword">Contrasena</label>
              <input type="password" ng-model="vm.password" id="txtpassword" class="form-control" name="newPassword" pattern="(?=^.{5,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            <div ng-messages="studentForm.password.$error" ng-hide="studentForm.password.$pristine">
              <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido!</div>
              <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
            </div>
          </div>



          <!-- Confirm Password -->
          <div class="form-group col-md-3 col-sm-12 ibck" ng-class="{ 'has-error' : studentForm.confirmPassword.$invalid && !studentForm.confirmPassword.$pristine }">
            <label for="confirmPassword">Confirmar contraseña:</label>
            <input ng-model="vm.confirmPassword" id="txtconfirmPassword" type="password" class="form-control" name="confirmPassword" match-password="newPassword" required unique>
            <div class="clearfix">
            <div ng-messages="profileForm.confirmPassword.$error" ng-if="profileForm.$submitted || profileForm.confirmPassword.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
              <!--<div ng-message="required" class="message slide-left">You did not enter a field name</div>-->
              <div ng-message="passwordMatch" class="message slide-left">Your passwords did not match</div>
            </div>
          </div>
          </div>

        <!-- Curriculum Vitae -->
          <div class="form-group col-md-4 col-sm-12 ibck" ng-class="{ 'has-error' : studentForm.resumeUrl.$invalid && !studentForm.resumeUrl.$pristine }">
            <label>Curriculum Vitae:</label>
            <p><a class="form-control btn btn-sm btn-embossed btn-warning pull-right" ng-click="vm.pickFile()" ng-model="vm.resumeUrl" name="resumeUrl">Seleccione el archivo</a></p>
            <p ng-show="studentForm.resumeUrl.$invalid && !studentForm.resumeUrl.$pristine" class="help-block">El CV es requerido.</p>
          </div>

          <!-- Avatar -->
          <div class="col-md-4 col-sm-12 ibck" ng-class="{ 'has-error' : studentForm.photo.$invalid && !studentForm.photo.$pristine}">
            <label>Avatar:</label>
            <div class="input-group">
              <label class="input-group-btn">
                <span class="btn btn-primary" style="background-color: #FBB803; color: black;">Escoger<input type="file" style="display: none" id="photo" multiple ng-model="vm.pimage" required>
                </span>
                </label>
              <input type="text" class="form-control" style="color: #fff">
              <p ng-show="studentForm.photo.$invalid && !studentForm.photo.$pristine" class="help-block">La foto es requerida.</p>
            </div>
          </div>
                
          <!-- Carrera -->
          <div class="form-group col-md-4 col-sm-12 ibck" ng-class="{ 'has-error' : studentForm.career.$invalid && !studentForm.career.$pristine}">
            <label>Carrera(s):</label>
            <div class="form-group">
                <select name="addCarrersStu" style="height: 45px"  id="career" class="form-control" ng-model="vm.careers" multiple>
                  <option value="Desarrollo Web">Desarrollo Web</option>
                  <option value="Desarrollo Web">Telematica</option>
                </select>
                      <!--<select name="addCarrersStu" style="height: 45px"  id="career" class="form-control" ng-model="vm.careers" multiple>
                        <option ng-repeat="career in studentCtrl.careers" id="career" ng-value="{{career.nameCareer}}" >{{career.nameCareer}}</option><
                      </select>
                      <p ng-show="studentForm.career.$invalid && !studentForm.career.$pristine" class="help-block">La foto es requerida.</p>-->
            </div>
          </div>

          
          <!--<h6>Información opcional:</h6>
          <!-Usuario de Github-->
          <div class="form-group col-md-4 col-sm-12" style="display: inline-block; text-align: left;" >
            <label>Usuario GitHub</label>
            <input ng-model="vm.githubUrl" id="gitHub" type="text" class="form-control" name="githubUrl">
          </div>  

              <!-- Link de sitio web -->
          <div class="form-group col-md-4 col-sm-12" style="display: inline-block" >
            <label>Link de sitio web:</label>
            <input ng-model="vm.websiteUrl" id="link" type="url" pattern="https?://.+" title="Include http://" class="form-control" name="websiteUrl">
          </div>

              <!-- Telefono -->
          <div class="form-group col-md-4 col-sm-12">
            <label>Número de teléfono:</label>
            <input ng-model="vm.phone" ng-pattern="/^\d{1,10}$/" id="phone" type="text" class="form-control" maxlength="8" name="phone">
          </div>

          <div class="form-group col-md-12 col-sm-12" style="display: block; text-align: center;"> 
            <button type="submit" id="btnRegister" class="btn btn-warning btn-embossed" ng-click="vm.preSave()">Enviar solicitud</button>
          </div>
        </form>
          
          <!--<div class="form-group col-md-12" style="display: inline-block; text-align: center;"> 
            <button type="button" ng-click="studentCtrl.testSave()" >Registrarse</button>
          </div>     -->   
  </div>
</main>

