.headPage {
  background: #000;
  padding: 20px;  
}

h1 {
  color: #fff;
  font-weight: 700;
}

.projectsRequest {
  margin: 30px auto; 
  label {
    width: 100% 
  }
  input {
    width: 100%;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #efeff1;
  }
  .row {
    margin: 10px 0; 
  }
  .btnUpload {
    display: block;
    text-align: center;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #efeff1;
    transition: background .3s;
    cursor: pointer;
    &:hover {
      background-color: #adadad; 
    }
  }
}

.thanks {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #15ae0c;
  color: #fff;
  margin-top: 90px;
  border-radius: 11px;
}