<main>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Solicitudes de proyectos</div>
				<div class="panel-body">
					<div class="card">
					  <ul class="list-group list-group-flush" id="myScrollspy">
					  <!-- Trigger the modal with a button -->
					    <li class="list-group-item" ng-repeat="request in vm.requestsList | filter:{state_key:'1'}">
					    	{{request.name}}
					    	<button ng-click="vm.viewRequest(request)" class="btn btn-sm btn-embossed btn-warning pull-right" data-toggle="modal" data-target="#studentReq-Modal">Ver solicitud</button>
					    </li>
					    <p ng-show="vm.va">No hay solicitudes nuevas</p>
					  </ul>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div><!--Primer row-->
	<!--Fuera del row coloco el modal-->
	<!-- Modal -->
	<div id="studentReq-Modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Nueva solicitud</h4>
			</div>
			<!--despliega todo el contenido de la solicitud-->
			<div class="modal-body">
				<form>
						<!--Aquí va el nombre del proyecto-->
						<p><b>{{vm.req.name}}</b></p>
						<hr>
					<div class="student-info">
						<p><b>Empresa: </b> {{vm.req}}</p>
						<p><b>Cédula: </b> {{vm.req}}</p>
						<p><b>Responsable: </b> {{vm.req}}</p>
						<p><b>Correo: </b> {{vm.req}}</p>
						<p><b>Fondos: </b> {{vm.req.funds}}</p>
						<!-- <p><b>Resumen Ejecutivo: </b> {{vm.}}</p>
						<p><b>Imágenes: </b> {{vm.}}</p> -->
					</div>

					<!--sección oculta (contiene la justificacion del rechazo)-->
					<div class="extra" ng-Show="vm.rejection">
						<form novalidate>
							<div class="form-group">
								<label>Justificación</label>
								<div class="form-group">
									<input id="justification" class="form-control" type="text" placeholder="agregue una justificación" ng-model="vm.req.justification">
								</div>
								<div ng-show="vm.validate">La justificación es requerida</div>
							</div>
						</form>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!--procesamiento de la solicitud (aprueba o rechaza)-->
				<div class="unModal-footer">
					<button ng-show="vm.confirm" class="btn btn-sm btn-embossed btn-danger" ng-click="vm.rejectRequest(vm.req)">Confirmar rechazo</button>
					<button ng-show="vm.btnYes" class="btn btn-sm btn-embossed btn-warning" ng-click="vm.approveRequest(vm.req)">Aprobar</button>
					<button ng-show="vm.btnNo" class="btn btn-sm btn-embossed btn-warning" ng-click="vm.rejection=true;vm.confirm=true;vm.btnYes=false;vm.btnNo=false">Rechazar</button><!--muestra la seccion oculta-->
					<button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
	    </div><!--FinModal-Content-->
	  </div><!--FinModal-Dialog-->
	</div><!--FinModal-->
</main>