<!--NAVEGACIÓN SUPERIOR-->
<header class="row">
	<!--.navbar-fixed-top-->
	<nav class="navbar navbar-default" role="navigation" id="navegacion">
	  <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav navbar-right">
	      <li>
	      	<a ui-sref="main({{vm.user.username}})"><!-- Indicator with number -->
				<i class="fa fa-bell"></i><span class="navbar-new">2</span>
				</a>
			  </li>
	      <li class="dropdown">
              <a id="profile" ui-sref="main.profile" class="dropdown-toggle" data-toggle="dropdown">
              	<img class="img-circle img-profile" ng-src="{{ vm.user.img }}">
               
              	<span class="nombreUsuario">{{vm.user.username}}</span>
                <b class="caret"></b>
              </a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="#">Financiero</a></li>
                <li><a href="#">Especialidades</a></li>
                <li><a href="#">Carreras</a></li>
                <li class="divider"></li>
                <li><a ng-click="vm.logOut()" href="">Cerrar sesión</a></li>
              </ul>
          </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav><!-- /navbar -->
</header>