<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Solicitud de Clientes            =
========================================================================================-->
<div class="projectsRequest">
  <div class="container">
    <form>
      <div class="row">
        <label>Empresa:</label>
        <input type="text" name="company" ng-model="cshReqCtrl.clientData.company">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Cédula jurídica o cédula física:</label>
          <input type="text" name="identificationNumber" ng-model="cshReqCtrl.clientData.identificationNumber">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Responsable de proyecto:</label>
          <input type="text" name="clientName" ng-model="cshReqCtrl.clientData.clientName">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Correo electrónico:</label>
          <input type="text" name="clientMail" ng-model="cshReqCtrl.clientData.clientMail">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Resumen ejecutivo</label>
          <a class="btn btn-default" ng-click="cshReqCtrl.pickFile()">Seleccionar su archivo pdf</a></p>

      </div><!-- //-Row -->
      <div class="row">  
          <label>Fondos para realizar proyecto:</label>
          <input type="text" name="fundsToMakeProject" ng-model="cshReqCtrl.clientData.fundsToMakeProject">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Imágenes:</label>
          <input type="file" name="projectImages"  id="imageProjectRequest" ng-model="cshReqCtrl.clientData.projectImages">
      </div><!-- //-Row -->
      <div class="row">  
        <button type="submit" name="submitBtn" ng-click="cshReqCtrl.preSave()">Enviar</button>
      </div><!-- //-Row -->
    </form> <!-- //-Form -->
  </div>  <!-- //-Container -->
</div> <!-- //Finalizamos teachers register container -->
