<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Solicitud de Clientes            =
========================================================================================-->
<header>
  <div class="landingContainer">
    <nav class="landingMenu">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#!/landingPage#inicio">Inicio</a></li>                
        <li><a href="#!/landingPage#servicios">Servicios</a></li>
        <li><a href="#!/landingPage#nosotros">Nosotros</a></li>
        <li class="brand-logo"><img src="http://www.cenfotecsoftwarehouse.com/images/Cenfotec-Software-House-Logo.png"></li>
        <li><a href="#!/solicitud-proyecto">Solicitudes</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/logIn">Iniciar sesión</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="headPage" style="padding-top: 110px;">
  <div class="container">
    <h1>Solicitud de proyecto</h1>
  </div>
</div>
<div class="projectsRequest" ng-show="cshReqCtrl.toSend">
  <div class="smallContainer">
    <form>
      <div class="row">
        <label>Empresa:</label>
        <input type="text" name="company" ng-model="cshReqCtrl.clientData.company">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Cédula jurídica o cédula física:</label>
          <input type="text" name="identificationNumber" ng-model="cshReqCtrl.clientData.identificationNumber">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Responsable de proyecto:</label>
          <input type="text" name="clientName" ng-model="cshReqCtrl.clientData.clientName">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Correo electrónico:</label>
          <input type="text" name="clientMail" ng-model="cshReqCtrl.clientData.clientMail">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Resumen ejecutivo</label>
          <a class="btnUpload" ng-click="cshReqCtrl.pickFile()">
          <i class="fa fa-cloud-upload"></i> Seleccionar resumen ejecutivo en formato pdf
          </a>
      </div><!-- //-Row -->
      <div class="row">
        <label>Nombre de proyecto:</label>
        <input type="text" name="company" ng-model="cshReqCtrl.clientData.projectName" placeholder="Ej: Aplicación de iOS">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Fondos para realizar proyecto:</label>
          <input type="text" name="fundsToMakeProject" ng-model="cshReqCtrl.clientData.fundsToMakeProject">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Imágenes:</label>
          <input type="file" name="projectImages"  id="imageProjectRequest" ng-model="cshReqCtrl.clientData.projectImages">
      </div><!-- //-Row -->
      <div class="row">  
        <button type="submit" name="submitBtn" class="btn" ng-click="cshReqCtrl.preSave()">Enviar solicitud</button>
      </div><!-- //-Row -->
    </form> <!-- //-Form -->
  </div>  <!-- //-Container -->
</div> <!-- //Finalizamos teachers register container -->
<div class="thanks" ng-show="cshReqCtrl.send">
  <p>La solicitud de proyectos ha sido enviada. Nuestros asesores lo contactaran lo más pronto posible</p>
</div>
