<main>
	<section id="login">
		<div class="col-md-6" id="fondo1">
			<div class="col-md-8 col-md-offset-2">
				<img src="../../imgs/cshLogo.png" alt="">
				<h1>Cenfotec Software House</h1>
			</div>	
		</div>
		<div class="col-md-5">
			<form ng-submit="vm.logIn(vm.user)">
				<div class="col-md-12 col-md-offset-1">
					<h2>Iniciar sesión en Cenfotec Software House</h2>
				</div>
				
				<div class="form-group has-feedback col-md-6 col-md-offset-4">
  					<input type="email" ng-model="vm.user.email" placeholder="Correo Electrónico" class="form-control data" required autofocus email/>
  					<span class="form-control-feedback fui-user"></span>
				</div>
				<div class="form-group has-feedback col-md-6 col-md-offset-4">
  					<input type="password" ng-model="vm.user.password" placeholder="Contraserña" class="form-control data" required/>
  					<span class="form-control-feedback fui-lock"></span>
				</div>
				<div class="form-group has-feedback col-md-9 col-md-offset-5">
					<button id="yellow" class="btn btn-success col-md-4" type="submit">Iniciar sesión</button>
				</div>
				<div class="form-group has-feedback col-md-10 col-md-offset-4">
					<a ng-click="">Restablecer contraseña</a>
				</div>
			</form>
		</div>
	</section>
</main>