<section id="login" class="tinyContainer">	
	<div class="sidebar">
		<h2></h2>
	</div>
	<div>
		<form ng-submit="vm.logIn(vm.user)">
	 			<h2>Iniciar sesión en Cenfotec Software House</h2>

				<div class="account-wall">

					<div class="form-group col-sm-12">
						<i class="glyphicon glyphicon-user"></i>
						<input class="data" ng-model="vm.user.email" type="email" name="email" placeholder="Usuario" required autofocus email/>
					</div>

					<div class="form-group col-sm-12">
						<i class="glyphicon glyphicon glyphicon-lock"></i>
			    		<input ng-model="vm.user.password" type="password" class="data" placeholder="Contraseña" required />
			    	</div>

					<button class="btn buttonsubmit" type="submit">Iniciar sesión</button>

					<a ng-click="">Restablecer contraseña</a>	
							
				</div>			

		</form>
	</div>
</section>