<section id="login" class="tinyContainer">	
	<div class="sidebar">
	</div>
	<div>
		<form >
	 		

				<div class="account-wall">

					
			
				</div>			

		</form>
	</div>
</section>

<main>
	<section>
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<form ng-submit="vm.logIn(vm.user)">
				<h2>Inicia sesión en Cenfotec Software House</h2>

				<div class="form-group has-feedback col-sm-12">
  					<input type="email" ng-model="vm.user.email" placeholder="Correo Electrónico" class="form-control data" required autofocus email/>
  					<span class="form-control-feedback fui-user"></span>
				</div>
				<div class="form-group has-feedback col-sm-12"">
  					<input type="password" ng-model="vm.user.password" placeholder="Contraserña" class="form-control data" required/>
  					<span class="form-control-feedback fui-lock"></span>
				</div>
				<button class="btn buttonsubmit" type="submit">Iniciar sesión</button>
				<a ng-click="">Restablecer contraseña</a>
			</form>
		</div>
	</section>
</main>