<div class="row">
	<div class="col-xs-4">
	    <div id="profile-view" class="well well-sm">
	        <div class="row">
	            <div class="col-xs-4">
	                <img src="{{vm.user.avatar}}" alt="" class="img-rounded img-responsive" />
	            </div>
	        </div>
	    </div>		
	</div>
</div>



	        <!-- <div class="row">
	            <div class="col-sm-6">
	        
	                    <i class="glyphicon glyphicon-envelope"></i>email@example.com
	                    <br />
	                    <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
	                    <br />
	                    <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
	                Split button
	                <div class="btn-group">
	                    <button type="button" class="btn btn-primary">
	                        Social</button>
	                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	                        <span class="caret"></span><span class="sr-only">Social</span>
	                    </button>
	                    <ul class="dropdown-menu" role="menu">
	                        <li><a href="#">Twitter</a></li>
	                        <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
	                        <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
	                        <li class="divider"></li>
	                        <li><a href="#">Github</a></li>
	                    </ul>
	                </div>
	            </div>			                	
	        </div> -->


<!-- 	

<div class="col-md-12 col-lg-12">
	<div class="row" id="profile-view">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 col-sm-6 col-md-4">

		        </div>
		<div class="col-md-8">
			<div ng-if="vm.user.role == 'student'" ui-view="timer"></div>
		</div>					        
		    </div>
		</div>	
	</div>
</div>
</div>
 -->


<!-- 			<div class="col-md-4 user-profile">
	<div class="profile">
		<img class="avatar" ng-src="{{vm.user.avatar}}" alt="">
		../../imgs/users/stephbr.jpg
	</div>				
	<div class="row">
		<h3>{{vm.user.username}}</h3>
		<h6>{{vm.user.idNum}}</h6>
		<h6>{{vm.user.name +" "+ vm.user.surname +" "+ vm.user.secondSurname }}</h6>
		<h6>{{vm.user.email}}</h6>
		<h6>{{vm.user.role}}</h6>
		<span ng-if="vm.user.careers">
			<h6>Carrera<span ng-if="vm.user.careers.lenght > 1">s</span>:</h6>
			<p>{{vm.user.careers}}</p>
		</span>							
	</div>			
</div> -->