/*estilos del header*/
	.navbar{
		padding: 1% 0 1% 18%;
	}
	#color{
		background: #000;
		z-index: 4;
	}
		#color li a{
		font-weight: 100;
		font-size: 1.2em;
		}
		#color img{
			width: 70%;
			padding: 9% 0 0 35%;
		}
		.navbar-nav{
			margin: 0 auto;
		}

	.img-profile{
		background-color: white;
	}
	