div.profile img.avatar{
	border-radius: 100%;
	max-height: 140px;
-webkit-box-shadow: 5px 5px 43px -7px rgba(0,0,0,0.66);
-moz-box-shadow: 5px 5px 43px -7px rgba(0,0,0,0.66);
box-shadow: 5px 5px 43px -7px rgba(0,0,0,0.66);
}