div.profile img.avatar{
	margin-top: 10px;
	
	max-height: 80px;
-webkit-box-shadow: 5px 5px 43px -7px rgba(0,0,0,0.66);
-moz-box-shadow: 5px 5px 43px -7px rgba(0,0,0,0.66);
box-shadow: 5px 5px 43px -7px rgba(0,0,0,0.66);
}

div#profile-view {
	-webkit-box-shadow: 3px 3px 16px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 16px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 16px 0px rgba(50, 50, 50, 0.75);
}

div#profile-view img{
	border:2px solid white;
	border-radius: 100%;
	background-color: white;
}