body{
	font-family: 'montserrat';
	background-color: #fff;
}
	h2{
		width: 40%;
		font-weight: 400;
		font-size: 2em;
		color: #000;
		margin: 11% 0 4% 8%;
	}
	label{
		font-weight: 300;
	}
	input[type="text"]::-webkit-input-placeholder {
  		font-weight: 100;
  		color: #909291;

	}
	input[type="text"]{
		font-weight: 300;
		border: 1px solid #909291;
		margin-bottom: 3%;
	}

	form{
		margin: 0 30%;
	}
		#resume{
			color: #000;
		}
		#resume i{
			color: #000
		}
			#resume:hover{
				color: #f1c40f;
			}