body{
	font-family: 'montserrat';
	background-color: #fff;
}
	h2{
		font-weight: 400;
		font-size: 2em;
		color: #000;
		margin: 24% 0 5% 10%;
	}
	label{
		font-weight: 300;
		margin: 8% 0 0 0;
	}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{ 
	border: 1px solid #D25349; 
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty{ 
	border: 2px solid #019739; 
}

input{
	display: inline-block;
	border: none;
	position:;
	z-index: 2;
}

.form-group, .input-group{
	margin-bottom: 3%;
}

#ng-message{
	font-size: 0.730em;
	font-family: 'montserrat';
	border: none;
	position: absolute;
	z-index: 4;
	color: red;
}

.thanks {
  margin: 0 auto;
  width: 600px;
  background: #15ae0c;
  color: #fff;
  margin-top: 860px;
  border-radius: 11px;
  z-index: 1;
  text-align: center;
  transition: background .8s;
  margin-bottom: 20px;
  padding: 3px;
  font-size: 6px;
}