body{
	font-family: 'montserrat';
	background-color: #fff;
}
	h2{
		font-weight: 400;
		font-size: 2em;
		color: #000;
		margin: 24% 0 5% 10%;
	}
	label{
		font-weight: 300;
		margin: 8% 0 0 0;
	}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{ 
	border-bottom: 1px solid #D25349; 
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty{ 
	border-bottom: 2px solid #019739; 
}