	#fondoStudent{
		background-image: url(../imgs/fondo1.png);
		
		background-repeat: no-repeat;
	}
		#fondoStudent div{
			padding: 80% 0 51% 0;
		}
			#fondoStudent div h1{
				color: #fff;
				font-family: 'montserrat';
				font-weight: 400;
				font-size: 2em;
				text-align: center;
			}
			#fondoStudent div img{
				padding-left: 40%;
			}
#thex i{
	color: #f1c40f;
	font-size: 1.4em;
}
#tituloLog{
	padding-top: 15%;
	text-align: center;
	margin-bottom: 5%;
}
	#tituloLog h2{
		color: #000;
		font-family: 'montserrat';
		font-weight: 400;
		font-size: 2em;
		margin: 0;
	}

#btnRegister{
	padding: 3%;
}

form{
	padding-left: 18%; 
}

input{
	margin-bottom: 15%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}