	#fondoStudent{
		background-image: url(../imgs/fondo1.png);
		
		background-repeat: no-repeat;
	}
		#fondoStudent div{
			padding: 80% 0 51% 0;
		}
			#fondoStudent div h1{
				color: #fff;
				font-family: 'montserrat';
				font-weight: 400;
				font-size: 2em;
				text-align: center;
			}
			#fondoStudent div img{
				padding-left: 40%;
			}
#thex i{
	color: #f1c40f;
	font-size: 1.4em;
}
#tituloLog{
	padding-top: 15%;
	text-align: center;
	margin-bottom: 5%;
}
	#tituloLog h2{
		color: #000;
		font-family: 'montserrat';
		font-weight: 400;
		font-size: 2em;
		margin: 0;
	}

#btnRegister{
	padding: 3%;
}

form{
	padding-left: 18%; 
}

input{
	margin-bottom: 10%;
}
