/*Tipografia de la pagina*/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_ExtraLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat_Black.ttf');
    font-weight: 900;
}