<!--COLUMNA IZQUIERDA-->
<aside class="col-md-1" id="aside_col">
  <div class="logo">
    <img ui-sref="landing" src="http://www.cenfotecsoftwarehouse.com/images/Cenfotec-Software-House-Logo.png">
  </div>
  <!--MENÚ LATERAL-->
  <nav>
    <ul>
      <li><a ui-sref="main.profile"><i class="fa fa-user"></i>Perfil</a></li>
      <li><a ui-sref="main.projects"><i class="fa fa-th-list"></i>Proyectos</a></li><!--href="#!/admin/proyectos"-->
      <li><a href=""><i class="fa fa-user-plus"></i>Clientes</a></li><!--href="#!/asis/clientes"-->
      <li><a ui-sref="main.students"><i class="fa fa-users"></i>Estudiantes</a></li>
      <li><a ui-sref="main.users"><i class="fa fa-user-circle-o"></i>Usuarios</a></li>
      <li><a href=""><i class="fa fa-list-alt"></i>Reportes</a></li><!--href="#!/admin/reportes/miembrosProyecto"-->
      <li><a ui-sref="main.careers"><i class="fa fa-cogs"></i>Configuración</a></li><!--href="#!/admin/reportes/miembrosProyecto"-->
    </ul>
  </nav>
</aside>