<header>
    <nav class="nav navbar-default navbar-fixed-top" id="color">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <div>
            <img class="navbar-brand" id="logo1" src="./imgs/cshLogo.png" alt="">
            <a class="navbar-brand" id="name1" href="#!/cenfotecSoftwareHouse">Cenfotec Software House</a>
          </div>
              

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#!/cenfotecSoftwareHouse#banner">Inicio</a></li>
              <li><a href="#!/cenfotecSoftwareHouse#nosotros">Nosotros</a></li>
              <li><a href="#!/cenfotecSoftwareHouse#services">Servicios</a></li>
              <li><a href="#!/cenfotecSoftwareHouse#contacto">Ubicación</a></li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes</a>
                  <ul class="dropdown-menu">
                    <li><a href="#!/solicitudProyecto" class="letra2">Solicitud de proyecto</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#!/solicitudEstudiantes" class="letra2">Solicitud de estudiantes</a></li>
                  </ul>
              </li>  
              <li><a href="#!/entrar">Iniciar sesión</a></li>
            </ul>
          </div>
        </div>
    </nav>
  </header>