<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#annotations">Anotaciones
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
  </div>

  <div id="annotations" class="panel-collapse collapse">
    <div class="panel-body">
      <li ng-repeat="anotation in vm.anotations" class="list-group-item">{{anotation.name}}
        <button ng-click="vm.delete($index)" class="btn btn-sm btn-embossed btn-danger pull-right"><span class="fui-trash"></span></button>
        <button class="btn btn-sm btn-embossed btn-warning pull-right"><span class="fui-eye"></span></button>
        <!--PENDIENTE EL MOSTRAR-->
      </li>
   <li class="list-group-item">{{vm.project.name}}<button class="btn btn-sm btn-embossed btn-danger pull-right"><span class="fui-trash"></span></button></li>
    </div>
    <div class="panel-footer">
      <div class="form-group pull-right">        
        <button class="btn btn-sm btn-embossed btn-warning pull-right" data-toggle="modal" data-target="#annotation-Modal">Agregar</button>
      </div>      
  </div>
</div>
<!--Fuera, coloco el modal-->
<!-- Modal -->
<div id="annotation-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="fa fa-plus"></span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Nombre:</label>
            <input name="nameAnotation"  class="form-control" ng-model="vm.name"/>
          </div>
          <div>
            <label>Descripción:</label>
            <textarea name="descAnotation" class="form-control" cols="30" rows="10" ng-model="vm.description"></textarea>
          </div>
        </form>
      </div>
    </div>
  <div class="modal-footer">
    <div class="unModal-footer">
      <button class="btn btn-sm btn-embossed btn-warning" ng-click="vm.save()">Guardar anotación</button>
      <button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
  </div>
</div><!--FinModal-->