<header>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="color">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>   
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><img id='logo' src='./imgs/cshLogo.png'></li>
        <li><a href="#!/solicitudProyecto">Proyectos</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/entrar">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="panel-heading">
    <div class="col-md-6 col-md-offset-3">
      <h2>Solicitud de proyecto para Cenfotec Software House</h2>
    </div> 
  </div>
  <div class="projectsRequest col-md-12" ng-show="vm.toSend">
    <div>
      <form name="projectRequest" class="container">
        <div class="col-md-4 col-xs-12">
          <!-- Nombre de la empresa -->
          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.companyName.$invalid && !projectRequest.companyName.$pristine}">
            <label for="#companyName">Nombre de la empresa:</label>
            <input type="text" id="companyName" name="companyName" class="form-control" ng-model="vm.companyName" required>
            <p ng-show="projectRequest.companyName.$invalid && !projectRequest.companyName.$pristine" class="help-block">El nombre de la empresa es requerido.</p>
          </div>
          <!-- Cedula Fisica o Juridica -->
          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.nId.$invalid && !projectRequest.nId.$pristine}">
            <label for="#idCompany">Cédula jurídica o fisica de la empresa:</label>
            <input type="number" id="idCompany" name="nId" class="form-control" min="111111111" ng-model="vm.nId" required unique maxlength="9" minlength="9">
            <p ng-show="projectRequest.nId.$invalid && !projectRequest.nId.$pristine" class="help-block">La cédula de la empresa es requerido.</p>
          </div>
          <!-- Encargado del proyecto -->
          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.projectManager.$invalid && !projectRequest.projectManager.$pristine}">
            <label for="#projectManager">Encargado del proyecto:</label>
            <input type="text" id="projectManager" name="projectManager" class="form-control" ng-model="vm.projectManager" required>
            <p ng-show="projectRequest.projectManager.$invalid && !projectRequest.projectManager.$pristine" class="help-block">El encargado del proyecto es requerido.</p>
          </div>
        </div>
        
        <div class="col-md-4 col-xs-12">
          <!-- Correo electronico -->
          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.email.$invalid && !projectRequest.email.$pristine}">
            <label for="#email">Correo electrónico:</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="vm.email" required>
            <p ng-show="projectRequest.email.$invalid && !projectRequest.email.$pristine" class="help-block">El correo electrónico es requerido.</p>
          </div>

          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.company.$invalid && !projectRequest.company.$pristine}">
            <label for="#projectName">Nombre del proyecto:</label>
            <input type="text" id="projectName" name="company" class="form-control" ng-model="vm.projectName" placeholder="Ej: Aplicación de iOS" required>
            <p ng-show="projectRequest.company.$invalid && !projectRequest.company.$pristine" class="help-block">El nombre del proyecto es requerido.</p>
          </div>

          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.money.$invalid && !projectRequest.money.$pristine}">
            <label for="money">Fondos para el proyecto (En dólares):</label>
            <input type="number" id="money" min="1" name="money" class="form-control" ng-model="vm.money" required>
            <p ng-show="projectRequest.money.$invalid && !projectRequest.money.$pristine" class="help-block">El presupuesto del proyecto es requerido.</p>
          </div>
        </div>
        
        <div class="col-md-4 col-xs-12">
          <div class="col-md-12 ibck">
            <label for="#resume">Resumen ejecutivo: </label>
            <a class="btnUpload" id="resume" ng-click="vm.pickFile()">
              <i class="fa fa-cloud-upload"></i> Seleccionar resumen ejecutivo en formato pdf
            </a>
          </div>

          <div class="col-md-12 ibck" ng-class="{ 'has-error' : projectRequest.industry.$invalid && !projectRequest.industry.$pristine}">
            <label for="#Industria de la empresa">Ingrese la industria de la empresa:</label>
            <input type="text" id="industry" name="industry" class="form-control" ng-model="vm.industry">
            <p ng-show="projectRequest.money.$invalid && !projectRequest.money.$pristine" class="help-block">La industria del proyecto es requerida.</p>
          </div>

          <div class="col-md-12 ibck">
            <label for="images">Algunas imagenes sobre el proyecto: </label>
            <input type="file" id="imageProjectRequest" name="projectImages" class="form-control" ng-model="vm.projectImages">
          </div>
        </div>

      </form>

      <div class="form-group col-md-12" style="display: block; text-align: center;">
        <button type="submit" name="submitBtn" class="btn btn-warning" id="margen2" ng-click="vm.preSave()">Enviar solicitud</button>
      </div>

    </div>
  </div>
  <div class="alert-success">
      <p>{{vm.retro}}</p>
  </div>
</main>