<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Solicitud de Clientes            =
========================================================================================-->
<header>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="color">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>   
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><img id='logo' src='public/imgs/cshLogo.png'></li>
        <li><a href="#!/solicitudProyecto">Proyectos</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/entrar">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="panel-heading">
    <div class="col-md-6 col-md-offset-3">
      <h2>Solicitud de Proyecto para Cenfotec Software House</h2>
    </div>
  </div>
  <div class="projectsRequest col-md-12" ng-show="cshReqCtrl.toSend">
    <div>
      <form class="form-group col-md-7">
        <div class="form-group col-md-4 ibck">
          <label for="#companyName">Nombre de la empresa: </label>
          <input type="text" id="companyName" name="company" class="form-control" ng-model="cshReqCtrl.clientData.company" required>
        </div>
        <div class="form-group col-md-4 ibck">
          <label for="#idCompany">Cédula jurídica o fisica de la empresa: </label>
          <input type="text" id="idCompany" name="identificationNumber" class="form-control" ng-model="cshReqCtrl.clientData.identificationNumber" required>
        </div>
        <div class="form-group col-md-4 ibck">
          <label for="#projectManager">Encargado del proyecto: </label>
          <input type="text" id="projectManager" name="clientName" class="form-control" ng-model="cshReqCtrl.clientData.clientName" required>
        </div>
        <div class="form-group col-md-4 ibck">
          <label for="#email">Correo electrónico: </label>
          <input type="email" id="email" name="clientMail" class="form-control" ng-model="cshReqCtrl.clientData.clientMail" required>
        </div>
        <div class="form-group col-md-4 ibck">
          <label for="#resume">Resumen ejecutivo: </label>
          <a class="btnUpload" id="resume" ng-click="cshReqCtrl.pickFile()">
          <i class="fa fa-cloud-upload"></i> Seleccionar resumen ejecutivo en formato pdf
          </a>
        </div>
        <div class="form-group col-md-4 ibck">
          <label for="#projectName">Nombre del proyecto: </label>
          <input type="text" id="projectName" name="company" class="form-control" ng-model="cshReqCtrl.clientData.projectName" placeholder="Ej: Aplicación de iOS" required>
        </div>
        <div class="form-group col-md-4 ibck">
          <label for="money">Fondos para el proyecto: </label>
          <input type="text" id="money" name="fundsToMakeProject" class="form-control" ng-model="cshReqCtrl.clientData.fundsToMakeProject" required>
        </div>
        <div class="form-group col-md-4 ibck">
          <<label for="images">Algunas imagenes sobre el proyecto: </label>
          <input type="file" id="imageProjectRequest" name="projectImages" class="form-control" ng-model="cshReqCtrl.clientData.projectImages">
        </div>
      </form>
      <div class="form-group col-md-12" style="display: block; text-align: center;"> 
            <button type="submit" name="submitBtn" class="btn btn-warning" ng-click="cshReqCtrl.preSave()">Enviar solicitud</button>
          </div>   
    </div>
  </div>
  <div class="thanks" ng-show="cshReqCtrl.send">
    <p>La solicitud de proyectos ha sido enviada. Nuestros asesores lo contactaran lo más pronto posible</p>
  </div>
</main>