<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Solicitud de Clientes            =
========================================================================================-->
<header>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="color">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>   
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><img id='logo' src='public/imgs/cshLogo.png'></li>
        <li><a href="#!/solicitudProyecto">Proyectos</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/entrar">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="headPage" style="padding-top: 110px;">
  <div class="container">
    <h1>Solicitud de proyecto</h1>
  </div>
</div>
<div class="projectsRequest" ng-show="cshReqCtrl.toSend">
  <div class="smallContainer">
    <form>
      <div class="row">
        <label>Empresa:</label>
        <input type="text" name="company" ng-model="cshReqCtrl.clientData.company">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Cédula jurídica o cédula física:</label>
          <input type="text" name="identificationNumber" ng-model="cshReqCtrl.clientData.identificationNumber">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Responsable de proyecto:</label>
          <input type="text" name="clientName" ng-model="cshReqCtrl.clientData.clientName">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Correo electrónico:</label>
          <input type="text" name="clientMail" ng-model="cshReqCtrl.clientData.clientMail">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Resumen ejecutivo</label>
          <a class="btnUpload" ng-click="cshReqCtrl.pickFile()">
          <i class="fa fa-cloud-upload"></i> Seleccionar resumen ejecutivo en formato pdf
          </a>
      </div><!-- //-Row -->
      <div class="row">
        <label>Nombre de proyecto:</label>
        <input type="text" name="company" ng-model="cshReqCtrl.clientData.projectName" placeholder="Ej: Aplicación de iOS">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Fondos para realizar proyecto:</label>
          <input type="text" name="fundsToMakeProject" ng-model="cshReqCtrl.clientData.fundsToMakeProject">
      </div><!-- //-Row -->
      <div class="row">  
          <label>Imágenes:</label>
          <input type="file" name="projectImages"  id="imageProjectRequest" ng-model="cshReqCtrl.clientData.projectImages">
      </div><!-- //-Row -->
      <div class="row">  
        <button type="submit" name="submitBtn" class="btn" ng-click="cshReqCtrl.preSave()">Enviar solicitud</button>
      </div><!-- //-Row -->
    </form> <!-- //-Form -->
  </div>  <!-- //-Container -->
</div> <!-- //Finalizamos teachers register container -->
<div class="thanks" ng-show="cshReqCtrl.send">
  <p>La solicitud de proyectos ha sido enviada. Nuestros asesores lo contactaran lo más pronto posible</p>
</div>
