<!--<div ng-include="'components/dashboard/header/header.view.html'"></div>-->

<main>
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">Solicitudes de proyectos</div>
        <div class="panel-body">
          <div class="card">
            <h4 style="color: #000; text-align: center;">Agregar carrera</h4>
              <form class="careerForm">                            
                 <div class="form-group col-md-12" ng-class="{ 'has-error' : careerForm.name.$invalid && !careerForm.name.$pristine }">
                  <label>Nombre de Carrera:</label>
                      <input 
                      ng-model="addCareersCtrl.nameCareer" 
                      id="txtNameCareer" 
                      type="text" 
                      class="form-control" 
                      name="nameCareer" 
                      required
                      minlength="3"
                      maxlength="30">

                      <p ng-show="careerForm.name.$invalid && !careerForm.name.$pristine" class="help-block">Su nombre es requerido.</p>
                 </div>

                 <div class="form-group col-md-6" ng-class="{ 'has-error' : careerForm.id.$invalid && !careerForm.id.$pristine }">
                  <label>Código de Carrera:</label>
                      <input 
                      ng-model="addCareersCtrl.id" 
                      id="txtidCareer" 
                      type="text" 
                      class="form-control" 
                      name="id"  
                      required 
                      minlength="3"
                      maxlength="9">
                      <p ng-show="careerForm.id.$invalid && !careerForm.id.$pristine" class="help-block">Su nombre es requerido.</p>
                 </div>


                  <div class="form-group col-md-6">
                  <label>Grado de Carrera:</label>
                    <select ng-model="addCareersCtrl.grade" id="txtlevelCareer" type="text" class="form-control" name="level" required>
                      <option value="" disabled>Escoger opción</option>
                      <option value="Maestría">Diplomado</option>
                      <option value="Maestría">Maestría</option>
                      <option value="Licenciatura">Licenciatura</option>
                      <option value="Bachillerato">Bachillerato</option>
                      <option value="Diplomado">Diplomado</option>
                      <option value="Técnico">Técnico</option>
                    </select>
                 </div>

                  <div class="form-group col-md-12" style="display: block; text-align: center;"> 
                   <input value="Agregar" type="submit" class="bbtn btn-lg btn-embossed" ng-click="addCareersCtrl.save()" ng-disabled="careerForm.$invalid">
                  </div> 

              </form>
          </div>
        </div>
      <div class="panel-footer"></div>
    </div>


    </div>
    <div class="col-md-7">

        <div class="panel panel-default">
          <div class="panel-heading">Lista de carreras
            <div class="col-md-4 pull-right" style="margin-top: -5px; height: 3px">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                      <label for="search" class="sr-only">Search</label>
                      <input type="text" class="form-control" name="search" id="search">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>

          </div>
          <div class="panel-body">
            <div class="card">
              <ul class="list-group list-group-flush" id="myScrollspy">
              <div class="table-responsive">
              <table id="listCareer" class="table table-striped">
                <thead id="head-career">
                  <tr>
                    <th>Código</th>
                    <th>Carrera</th>
                    <th>Grado</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="career in addCareersCtrl.careerList | filter: grade">
                      <td>{{career.id}}</td>
                      <td>{{career.nameCareer}}</td>
                      <td>{{career.grade}}</td>
                      <td><button class="btn btn-sm btn-embossed btn-warning pull-right" ng-click="addCareersCtrl.deleteCareer(index)">Eliminar</button></td>
                  </tr>
                </tbody>
              </table>
              </div>
              </ul>
            </div>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
</main>
