<div ng-include="'components/dashboard/header/header.view.html'"></div>
  <div class="wrapper">
    <div class="menu" ng-include="'components/dashboard/menu/menu.view.html'"></div>
    <div class="dashboard">
      <section>
      		<h1 style="color: #000">Agregar carrera</h1>
      		<form class="careerForm">                            
                  <div class="input-group">
                  <label>Código de Carrera:</label>
                      <input ng-model="addCareersCtrl.id" id="txtidCareer" type="text" class="form-control" name="id" placeholder="Ingrese el código de la carrera" required minlength="3">
                 </div>

                 <div class="input-group">
                  <label>Nombre de Carrera:</label>
                      <input ng-model="addCareersCtrl.nameCareer" id="txtNameCareer" type="text" class="form-control" name="nameCareer" placeholder="Ingrese el nombre de la carrera" required>
                 </div>

                  <div class="input-group">
                  <label>Grado de Carrera:</label>
                    <select ng-model="addCareersCtrl.grade" id="txtlevelCareer" type="text" class="form-control" name="level" required>
                      <option value="" disabled>Seleccione una opción</option>
                      <option value="Maestría">Diplomado</option>
                      <option value="Maestría">Maestría</option>
                      <option value="Licenciatura">Licenciatura</option>
                      <option value="Bachillerato">Bachillerato</option>
                      <option value="Diplomado">Diplomado</option>
                      <option value="Técnico">Técnico</option>
                    </select>
                 </div>
a

                <div class="input-group"> 
              		<input ng-disabled="careerForm.$valid" type="submit" ng-click="addCareersCtrl.save()" class="btn-small btn-red" value="Agregar">
              	</div>

                <div class="input-group">
                  <label for="repeatCaSelect">Carreras agregadas:</label>
                    <select>
                      <option ng-value="career" ng-repeat="career in addCareersCtrl.careerList">{{ career.nameCareer }}</option>
                    </select>

      <!--+ " " + professor.surname-->
            <button ng-click="addCareersCtrl.deleteCareer($index)">Eliminar</button>
      	</form>
      </section>
    </div>
  </div>
</div>