<header>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="color">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>   
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><img id='logo' src='./imgs/cshLogo.png'></li>
        <li><a href="#!/solicitudProyecto">Proyectos</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/entrar">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="panel-heading">
    <div class="col-md-6 col-md-offset-3">
      <h2>Solicitud de proyecto para Cenfotec Software House</h2>
    </div> 
  </div>
  <div class="projectsRequest col-md-12">
    <form name="projectRequest" class="container"
    autocomplete="off" ng-submit="vm.save()" novalidate>
      <!-- Nombre de la empresa -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#companyName">Nombre de la empresa:</label>
        <input type="text" ng-model="vm.companyName" id="companyName" class="form-control" name="companyName" required pattern="[ñáéíóúA-Za-z ]+">
        <div ng-messages="projectRequest.companyName.$error" ng-hide="projectRequest.companyName.$pristine">
          <div ng-message="required" ng-hide="projectRequest.companyName.$pristine" class="red darken-2 center-align white-text"><p>Este campo es requerido</p></div>
        </div>
      </div>
      <!-- Cedula Fisica o Juridica -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#idCompany">Cédula jurídica o fisica de la empresa:</label>
        <input type="text" ng-model="vm.nId"id="txtFirstName" class="form-control" name="nId" pattern="[0-9]+" maxlength="9" minlength="9" required>
        <div ng-messages="projectRequest.nId.$error" ng-hide="projectRequest.nId.$pristine" required>
          <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
          <div ng-message="maxlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
          <div ng-message="minlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
        </div>
      </div>
      <!-- Encargado del proyecto -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#projectManager">Encargado del proyecto:</label>
        <input type="text" ng-model="vm.projectManager" id="projectManager" class="form-control" name="projectManager" pattern="[ñáéíóúA-Za-z ]+" required>
        <div ng-messages="projectRequest.projectManager.$error" ng-hide="projectRequest.projectManager.$pristine">
          <div ng-message="required" ng-hide="projectRequest.projectManager.$pristine" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" ng-hide="projectRequest.projectManager.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
        </div>
      </div>
      <!-- Correo electronico -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#email">Correo electrónico:</label>
        <input type="email" ng-model="vm.email" id="email" class="form-control" name="email" required>
        <div ng-messages="projectRequest.email.$error" ng-hide="projectRequest.email.$pristine">
          <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" class="red darken-2 center-align white-text">Correo invalido</div>
        </div>
      </div>
      <!-- Nombre del proyecto -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#projectName">Nombre del proyecto:</label>
        <input type="text" ng-model="vm.projectName" id="projectName" class="form-control" name="projectName" placeholder="Ej: Aplicación de iOS" required >
        <div ng-messages="projectRequest.projectName.$error" ng-hide="projectRequest.projectName.$pristine">
          <div ng-message="required" ng-hide="projectRequest.projectName.$pristine" class="red darken-2 center-align white-text">Este campo es requerido</div>
        </div>
      </div>
      <!-- Fondos para el proyecto -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="money">Fondos para el proyecto (En dólares):</label>
        <input type="text" ng-model="vm.money" id="money" class="form-control" name="money" placeholder="$" pattern="[0-9]+" required>
        <div ng-messages="projectRequest.money.$error" ng-hide="projectRequest.money.$pristine" required>
          <div ng-message="required" class="red darken-2 center-align white-text">El presupuesto del proyecto es requerido.</div>
          <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
        </div>
      </div>
      <!-- Resumen ejecutivo -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#resume">Resumen ejecutivo:</label>
        <p><a ng-click="vm.pickFile()" class="form-control" style="background-color: #FBB803; color: black; cursor: pointer;" id="resumeUrl" ng-model="vm.projectFile" multiple required >Seleccione el archivo</a></p>
      </div>
      <!-- Industria de la empresa -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#Industria de la empresa">Ingrese la industria de la empresa:</label>
        <input type="text" ng-model="vm.industry" id="industry" class="form-control" name="industry" pattern="[ñáéíóúA-Za-z]+" required>
        <div ng-messages="projectRequest.industry.$error" ng-hide="projectRequest.industry.$pristine">
          <div ng-message="required" ng-hide="projectRequest.industry.$pristine" class="red darken-2 center-align white-text">La industria del proyecto es requerida.</div>
          <div ng-message="pattern" ng-hide="projectRequest.industry.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
        </div>
      </div>
      <!-- Imagenes del proyecto -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="images">Algunas imagenes sobre el proyecto: </label>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary" style="background-color: #FBB803; color: black">Escoger&hellip;<input type="file" style="display: none;" id="photo" multiple ng-model="vm.projectImages" required>
            </span>
          </label>
          <input type="text" class="form-control" style="color: black" readonly>
        </div>
      </div>
      <!-- Objetivo del proyecto -->
      <div class="form-group col-md-4 col-sm-12 ibck">
        <label for="#projectObjetive">Ingrese el objetivo del proyecto:</label>
        <textarea class="col-md-12" name="projectObjetive" id="projectObjetive" ng-model="vm.objective" required></textarea>
      </div>
      <!-- boton -->
      <div class="form-group col-md-12 col-sm-12" style="display: block; text-align: center;"> 
        <button type="submit" id="btnRegister" ng-disabled="disabled" class="btn btn-warning btn-embossed">Enviar solicitud</button>
    </form>
  </div>
</main>