<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#teachers">
    Profesores
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
  </div>
  <div id="teachers" class="panel-collapse collapse">
    <div class="panel-body">
      <ul>
        <li class="list-group-item">
          Encargado: {{vm.professor.name}} {{vm.professor.surname}} {{vm.professor.secondSurname}}
          <button ng-click="vm.viewRequest(1)" class="btn btn-sm btn-embossed btn-warning pull-right" ng-show="vm.addPro" data-toggle="modal" data-target="#list-Modal">
            <span class="fui-plus"></span>
          </button>
          <button ng-click="vm.delTeacher(vm.project,1)" class="btn btn-sm btn-embossed btn-danger pull-right" ng-show="vm.delPro">
            <span class="fui-trash"></span>
          </button>
        </li>
        <li class="list-group-item">
          Asistente: {{vm.assistant.name}} {{vm.assistant.surname}} {{vm.assistant.secondSurname}}
          <button ng-click="vm.viewRequest(2)" class="btn btn-sm btn-embossed btn-warning pull-right" ng-show="vm.addAsi" data-toggle="modal" data-target="#list-Modal">
            <span class="fui-plus"></span>
          </button>
          <button ng-click="vm.delTeacher(vm.project,2)" class="btn btn-sm btn-embossed btn-danger pull-right" ng-show="vm.delAsi">
            <span class="fui-trash"></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>


<!-- Modal -->
<div id="list-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Lista de profesores</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input id="justification" class="form-control" type="text" placeholder="agregue una justificación" ng-model="vm.req.rejectReason">
      </div>
      <ul>
        <li class="list-group-item" ng-repeat="teacher in vm.teachers track by $index">
          {{teacher.name}} {{teacher.surname}}
          <button ng-click="vm.removeFile(file)" class="btn btn-sm btn-embossed btn-danger pull-right">
            <span class="fui-check"></span>
          </button>
        </li>
        <li class="list-group-item">Profesor quemado<button class="btn btn-sm btn-embossed btn-danger pull-right"><span class="fui-check"></span></button></li>
      </ul>
    </div>
    <div class="modal-footer">
      <div class="unModal-footer">
        <button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->