<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#files">
    Profesores
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
  </div>
  <div id="files" class="panel-collapse collapse">
    <div class="panel-body">
      Encargado: {{vm.professor}}
      <ul>
        <li class="list-group-item">
          <button ng-click="filesCtrl.removeFile(file)" class="btn btn-sm btn-embossed btn-warning pull-right">
            <span class="fui-plus"></span>
          </button>
          <button ng-click="filesCtrl.removeFile(file)" class="btn btn-sm btn-embossed btn-danger pull-right" disabled>
            <span class="fui-trash"></span>
          </button>
        </li>
      </ul>
      Asistente: {{vm.assistant}}
      <ul>
        <li class="list-group-item">
          <button ng-click="filesCtrl.removeFile(file)" class="btn btn-sm btn-embossed btn-warning pull-right">
            <span class="fui-plus"></span>
          </button>
          <button ng-click="filesCtrl.removeFile(file)" class="btn btn-sm btn-embossed btn-danger pull-right" disabled>
            <span class="fui-trash"></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
    </div>
</div>

