<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#teachers">
    Profesores
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
  </div>
  <div id="teachers" class="panel-collapse collapse">
    <div class="panel-body">
      <ul>
        <li class="list-group-item">
          Encargado: {{vm.professor.name}} {{vm.professor.surname}} {{vm.professor.secondSurname}}
          <button ng-click="vm.addProffesor()" class="btn btn-sm btn-embossed btn-warning pull-right" ng-show="vm.addPro">
            <span class="fui-plus"></span>
          </button>
          <button ng-click="vm.delTeacher(vm.project,1)" class="btn btn-sm btn-embossed btn-danger pull-right" ng-show="vm.delPro">
            <span class="fui-trash"></span>
          </button>
        </li>
        <li class="list-group-item">
          Asistente: {{vm.assistant.name}} {{vm.assistant.surname}} {{vm.assistant.secondSurname}}
          <button ng-click="vm.addAssistant()" class="btn btn-sm btn-embossed btn-warning pull-right" ng-show="vm.addAsi">
            <span class="fui-plus"></span>
          </button>
          <button ng-click="vm.delTeacher2(vm.project,2)" class="btn btn-sm btn-embossed btn-danger pull-right" ng-show="vm.delAsi">
            <span class="fui-trash"></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>