<!--=======================================================================================
=            Este el component de Cenfotec Sotware House asignamiento de profesores      =
========================================================================================-->

<div class="dashboard cf">
  <div class="col-sm-12 col-md-3">
    <div class="projectAnotations">
      <div class="container">
        <h2 style="font-size: 15px; font-weight: 300;">Profesores asistentes</h1>
        <div class="listAnotations">

        </div>
        <div class="cf">
          <div class="addTeachers">
            <a href="javascript:;" ng-click=""  class="btn btn-red btn-small"><i class="fa fa-plus"></i>Asignar Profesor</a>
          </div>
          <div class="moreTeachers">
            <a href="javascript:;" ng-click="" class="btn btn-blue btn-small">Ver Más</a>
          </div>
        </div>
      </div>  <!-- //-Container -->
    </div> <!-- //Finalizamos Project Anotations-->
  </div>
</div>
<!-- <div class="modalElement" id="newAnotation" ng-show="anotationsCtrl.modalAnotation">
  <div class="modalElement_container">
    <h2>Nueva Anotación</h2>
    <input class="nameAnotation" ng-model="anotationsCtrl.data.name"></input>
    <textarea name="descAnotation" cols="30" rows="10" class="descAnotation" ng-model="anotationsCtrl.data.desc"></textarea>
    <a href="javascript:;" ng-click="anotationsCtrl.save()" class="btn">Enviar</a>
  </div>
</div>
 -->