<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#annotations">
    Anotaciones
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
  </div>
  <div id="annotations" class="panel-collapse collapse">
    <div class="panel-body">
      <li ng-repeat="(anotationIndex, anotation) in anotationsCtrl.anotations" class="list-group-item">
        {{ anotation.name }}
        <button ng-click="anotationsCtrl.delete($index)" class="btn btn-sm btn-embossed btn-danger pull-right">
          <span class="fui-trash"></span>
        </button>
        <!--PENDIENTE EL MOSTRAR-->
        <button class="btn btn-sm btn-embossed btn-warning pull-right"><span class="fui-eye"></span></button>
      </li>
        <li class="list-group-item">Anotación quemada<button class="btn btn-sm btn-embossed btn-danger pull-right"><span class="fui-trash"></span></button></li>
    </div>
    <div class="panel-footer">
      <button class="btn btn-sm btn-embossed btn-warning pull-right" data-toggle="modal" data-target="#annotation-Modal">Agregar</button><!--este botón debe abrir el modal-->
    </div>
  </div>
</div>
<!--Fuera, coloco el modal-->
<!-- Modal -->
<div id="annotation-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Nueva anotación</h4>
      </div>
      <div class="modal-body">
    <form>
      Nombre
      <input class="nameAnotation" ng-model="anotationsCtrl.data.name"/>
        Descripción
        <textarea name="descAnotation" cols="30" rows="10" class="descAnotation" ng-model="anotationsCtrl.data.desc"></textarea>
    </form>
      </div>
    </div>
  <div class="modal-footer">
    <div class="unModal-footer">
      <button class="btn btn-sm btn-embossed btn-warning" ng-click="anotationsCtrl.save()">Crear anotación</button>
      <button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
  </div>
</div><!--FinModal-->