<section>
    <div class="panel panel-info" >
        <div class="panel-header">
           <h1>Envío de solicitud de estudiante</h1>
        </div>
        <div class="panel-body" >
        <form class="studentForm">                            
            <div class="input-group">
            <label>Nombre:</label>
                <input ng-model="studentCtrl.stu.name" id="txtName" type="text" class="form-control" name="name" placeholder="Ingrese su nombre" required>
            </div>

            <div class="input-group">
            <label>Primer Apellido:</label>
                <input ng-model="studentCtrl.stu.firstName" id="txtFirstName" type="text" class="form-control" name="lastName" placeholder="Ingrese su primer apellido" required>
            </div>

            <div class="input-group">
            <label>Segundo Apellido:</label>
                <input ng-model="studentCtrl.stu.surName" id="txtSurname" type="text" class="form-control" name="surName" placeholder="Ingrese su segundo apellido" required>
            </div>

            <div class="input-group">
            <label>C[edula de identidad:</label>
              <input ng-model="studentCtrl.stu.id" id="txtid" type="text" class="form-control" name="id" placeholder="Ingrese su c]edula" maxlength="9" required>
            </div>

            <div class="input-group">
            <label>Fecha de nacimiento:</label>
                <input type="date" class="form-control" ng-model="studentCtrl.stu.birthday" required>
            </div>

            <div class="input-group">
            <label>Correo el[ectronico:</label>
               <input ng-model="studentCtrl.stu.email" id="txtEmail" type="email" class="form-control" name="email" ng-required="true" placeholder="Correo electrónico" required>
            </div>

            <div class="input-group">
            <label>Contrase;a:</label>
                <input ng-model="studentCtrl.stu.password" id="txtPassword" type="password" class="form-control" name="password" placeholder="Contraseña" required>
            </div>

      <div class="input-group">
            <label for="multipleSelect">Carrera(s):</label><br>
              <select name="multipleSelect" id="multipleSelect" ng-model="studentCtrl.stu.career" multiple required>
                <option value="option-1">Desarrollo del Software</option>
                <option value="option-2">Tecnologias de Información y Comunicación</option>
                <option value="option-3">Desarrollo y Diseño Web</option>
                <option value="option-4">Telemática</option>
                <option value="option-5">Ciberseguridad</option>
                <option value="option-6">Base de Datos</option>
              </select>
        </div>

        <div class="input-group">
            <label for="multipleSelect">Curso(s):</label>
            <select name="multSelect" id="mulSelect" ng-model="studentCtrl.stu.course" multiple required>
            <option value="option-1">Introducci[on a TI</option>
                <option value="option-2">Fundamentos de Bases de Datos</option>
                <option value="option-3">Fundamentos de Programaci[on</option>
            </select>
        </div><br>

        <div class="input-group">  
          <label>Resumen Ejecutivo</label>
          <p><a class="btn btn-default" ng-click="studentCtrl.stu.pickFile()">Seleccione el archivo</a></p>
        </div>

        <h3>Infromaci[on Adicional</h3>
        
        <div class="input-group">
          <label>Usuario GitHub</label>
          <input ng-model="studentCtrl.stu.userGit" id="gitHub" type="text" class="form-control" name="userGit" placeholder="Ingrese su usario de GitHub">
          </div>
        

        <div class="input-group">
          <label>Link de sitio web:</label>
            <input ng-model="studentCtrl.stu.link" id="link" type="text" class="form-control" name="link" placeholder="Ingrese link-sitio web">
        </div>


        <div class="input-group">
          <label>N[umero de tele[efono:</label>
          <input ng-model="studentCtrl.stu.cellphoneNumber" id="cellphoneNumber" type="text" class="form-control" maxlength="8" name="cellphoneNumber" placeholder="Ingrese n[umero de tel[efono">
        </div>

        <div class="input-group">
          <label>Avatar</label>
          <input type="file" required id="photo" ng-model="studentCtrl.stu.image">
        </div>

      <div class="input-group"> 
        <input ng-disabled="studentForm.$valid" type="submit" ng-click="studentCtrl.stu.preSave()" class="btn1" value="Registrarse">
        
        </div>
       </div>

      </form>
     </div>

</section>
