#login{

	.data{
		background : #fff;
		text-align: center;
		font-family: 'montserrat';
		font-weight: 300;
		font-size: 20px;
		input.data::-webkit-input-placeholder{
			font-size: 14px;
		}
	}
	.buttonsubmit{
		padding : 2%;
		&:hover {
		    background-color: transparent;
		    border: 0.5px solid #fbb803;
		    color: #fbb803;
  		}
	}
	a{
		text-decoration: none;
		color: #000;
	}
}