<!--COLUMNA IZQUIERDA-->
<aside class="col-md-1" id="aside_col">
  <div class="logo">
    <img src="http://www.cenfotecsoftwarehouse.com/images/Cenfotec-Software-House-Logo.png">
  </div>
  <!--MENÚ LATERAL-->
  <nav>
    <ul>
      <li><a href=""><i class="fa fa-home"></i>Perfil</a></li>
      <li><a href=""><i class="fa fa-th-list"></i>Proyectos</a></li><!--href="#!/admin/proyectos"-->
      <li><a href=""><i class="fa fa-user-plus"></i>Clientes</a></li><!--href="#!/asis/clientes"-->
      <li><a href=""><i class="fa fa-users"></i>Estudiantes</a></li>
      <li><a href=""><i class="fa fa-user-secret"></i>Profesores</a></li>
      <li><a href=""><i class="fa fa-user-circle-o"></i>Consejo</a></li>
      <li><a href=""><i class="fa fa-list-alt"></i>Reportes</a></li><!--href="#!/admin/reportes/miembrosProyecto"-->
      <li><a href=""><i class="fa fa-cog"></i>Configuración</a></li><!--href="#!/addCareers"-->
    </ul>
  </nav>
</aside>