<!--=======================================================================================
=            Este el component de Cenfotec Sotware House header           =
========================================================================================-->
<header class="mainHeader">
  <nav>
    <ul class="cf fl">
      <li class="notifications">
        <p class="notificationsQuantity">2</p>
        <i class="fa fa-bell"></i>
      </li>
      <li class="user">
        <div class="avatar small">
          <img src="" alt="">
        </div>
        <i class="fa fa-chevron-down"></i>
      </li>
    </ul>
  </nav>
</header>