.projectAnotations {
  background: #efeff1;
  padding: 10px; 
  border-radius: 10px;
}
body {
  margin: 0; 
}
.dashboard {
  background: #efeff1; 
  padding: 40px; 
}
.box {
  background: #fff;
  padding: 0; 
  border-radius: 10px;
  margin: 10px  0;  
}
.boxTitle {
  color: #1b264f;
  border-bottom: 7px solid #efeff1;
  font-size: 18px;
  padding: 10px; 
  font-weight: 400;  
}
.boxContent {
  padding: 10px 20px 20px; 
}
.boxAlternative {
  background: #efeff1; 
  .boxTitle {
    border-bottom: 7px solid #fff;
  }
}

.listAnotations {
  .item {
    background: #f8f9fb;
    border-radius: 15px;
    padding:  10px 10px;  
    font-weight: 300; 
    margin-top: 10px;
    position: relative;
  }
  .itemName {
    float: left;
  }
  .itemMore {
    float: right;
    font-size: 20px; 
  }
}

.menuExtend {
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
  position: absolute;
  z-index: 3;
  background: #fff;
  top: 44px;
  right: -13px;
  border-radius: 10px;
  width: 198px;
  text-align: center;
}

.anotationOptions {
  a {
    padding: 11px;
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #1b264f;
    &:hover {
      background: #f8f9fb; 
    }
  }
}


.createAnotation {
  float: left;
}

.moreAnotations {
  float: right;
}