<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" href="#students">Estudiantes
		<span class="glyphicon glyphicon-chevron-down pull-right"></span>
	</div>
	<div id="students" class="panel-collapse collapse">
		<div class="panel-body">
			<ul>
				<li class="list-group-item" ng-repeat="student in vm.projectStudents">
					{{student.name}} {{student.surname}}
					<button ng-click="vm.deleteStudent(student)" class="btn btn-sm btn-embossed btn-danger pull-right">
						<span class="fui-check"></span>
					</button>				
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<button class="btn btn-sm btn-warning pull" data-target="#modal" data-toggle="modal">Agregar</button>
		</div>
		<!-- Modal-->
		<div class="col-md-8 col-md-offset-4">  
			<div class="modal fade" id="modal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							Asignar estudiantes
							<button type="button" class="close" id="thex" data-dismiss="modal"><i class="fa fa-times"></i></button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Buscar...." ng-model="vm.taskSearch">
							</div>
							<ul>
								<li class="list-group-item" ng-repeat="student in vm.students">
										{{student.name}} {{student.surname}} {{student.secondSurname}}
									<button ng-click="vm.addStudent(student)" class="btn btn-sm btn-embossed btn-danger pull-right" data-dismiss="modal">
										<span class="fui-check"></span>
									</button>
								</li>
							</ul>
						</div>
						<div class="modal-footer">
							<div class="unModal-footer">
								<button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="retroMsg-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Atención</h4>
    </div>
    <div class="modal-body">
      <p class="alert alert-success">{{vm.msg}}</p>
    </div>
    <div class="modal-footer">
      <div class="unModal-footer">
        <button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->
	</div>
</div>