<div class="panel panel-default">
	<div class="panel-heading">Lista de proyectos
		<!-- <select class="form-control select select-primary pull-right" data-toggle="select" ng-model="vm.search" ng-change="vm.verify()">
      		<option value="" disabled="disabled">Seleccione un estado</option>
		    <option ng-show="vm.test" value="aproved">Aprobados</option>
		    <option ng-show="vm.test" value="rejected">Rechazados</option>
		    <option value="inProcess">En proceso</option>
		    <option value="ended">Finalizados</option>
	    </select> -->
      	<!-- <option ng-show="vm.test" value="inRevision">En revisón</option> -->
	<form class="pull-right">
		<div class="form-group">
	      <select id="sltProjects" ng-model="vm.search" ng-change="vm.verify()" type="text" class="form-control">
	        <option value="" disabled="disabled">Seleccione un estado</option>
		    <option ng-show="vm.test" value="aproved">Aprobados</option>
		    <option ng-show="vm.test" value="rejected">Rechazados</option>
		    <option value="inProcess">En proceso</option>
		    <option value="ended">Finalizados</option>
	      </select>
	    </div>
   </form>
	</div>
	<div class="panel-body flex-panel">
		<!--mensaje para cuando no existen proyectos-->
		<div ng-Show="vm.empty">
			<p>No existen proyectos por mostrar</p>
		</div>
		<div class="card">
		  <ul class="list-group list-group-flush"><!--id="myScrollspy"-->
		    <li class="list-group-item" ng-repeat="project in vm.projects | filter:{state:vm.search}">
		    	{{project.name}}
		    	<button ui-sref="main.project({id:project._id})" class="btn btn-sm btn-embossed btn-warning pull-right">Ver proyecto</button>
		    </li>
		  </ul>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>