 <div class="box boxAlternative">
   <h1 class="boxTitle">Archivos</h1>

  <div class="boxContent">
		<div class="item cf" ng-repeat="file in filesCtrl.projectFiles track by $index">
			<p class="itemName">{{file.name}}</p>
			<button class="btn btn-blue btn-small" ng-click="filesCtrl.removeFile(file)">Borrar</button>
		</div>

    <div class="cf">  
    	<div class="createFile">
        <button class="btn btn-red btn-small" ng-click="filesCtrl.addNewFile()"><i class="fa fa-plus"></i> Agregar archivo</button>
      </div>
    </div>
  </div>

</div>