<div ng-include="'components/dashboard/header/header.view.html'"></div>
  <div class="wrapper">
    <div class="menu" ng-include="'components/dashboard/menu/menu.view.html'"></div>
    <div class="dashboard">
      <!-- mensaje para cuando la lista de proyectos está vacía-->
      <div ng-show="clientsCtrl.message">
      	<p>No hay clientes por mostrar</p>
      </div>
      <!-- lista el nombre de cada proyecto y un botón para ver la info de cliente-->
      <div>
      	<p>Lista de proyectos</p>
          <ul ng-repeat="project in clientsCtrl.projects track by $index">
              <li>
              	{{project.name}}
              	<button ng-click="clientsCtrl.showInfo(project)">Ver Cliente</button>
              </li>
          </ul>
      </div>

      <div ng-show="clientsCtrl.clientContainer">

      	<p>Cliente: {{clientsCtrl.client.company}}</p>
        <p>Cédula: {{clientsCtrl.client.companyIdNumber}}</p>
        <p>Responsable: {{clientsCtrl.client.clientName}}</p>
        <p>Correo: {{clientsCtrl.client.clientMail}}

      </div>
  </div>
</div>