$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


/* Makes border-box properties */
@include border-box-sizing;

.container {
  @include container;
}
.smallContainer {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  @include span(8); 
}


.sidebar {
  @include span(4 last); 
}

.col-sm-12 {
  @include span(12 of 12);
}
.col-sm-2 {
  @include span(6 of 12);
}
.col-sm-3 {
  @include span(4 of 12);
}
@media screen and (min-width: 768px) {
  .col-md-2 {
    @include span(6 of 12);
    &:last-child {
      @include last;
    }
  }

  .col-md-3 {
    @include span(4 of 12);
    &:last-child {
      @include last;
    }
  }

  .col-md-6 {
    @include span(6 of 12);
    &:last-child {
      @include last;
    }
  }
}  