
<div class="panel panel-default">
	<div class="panel-heading">Solicitudes de proyectos</div>
	<div class="panel-body">
		<div class="card">
		  <ul class="list-group list-group-flush"><!--id="myScrollspy"-->
		  <!-- Trigger the modal with a button -->
		    <li class="list-group-item" ng-repeat="request in vm.requestsList | filter:{state:'inRevision'}">
		    	{{request.name}}
		    	<button ng-click="vm.viewRequest(request)" class="btn btn-sm btn-embossed btn-warning pull-right" data-toggle="modal" data-target="#studentReq-Modal">Ver solicitud</button>
		    </li>
		    <p ng-show="vm.va">No hay solicitudes nuevas</p>
		  </ul>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
<!--Fuera del row coloco el modal-->

<!-- Modal -->
<div id="studentReq-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4>Nueva solicitud</h4>
		</div>
		<!--despliega todo el contenido de la solicitud-->
		<div class="modal-body">
			<form>
					<!--Aquí va el nombre del proyecto-->
					<p><b>Proyecto {{vm.req.name}}</b></p>
					<hr>
				<div class="project-info">
					<p><b>Empresa: </b> {{vm.req.client.companyName}}</p>
					<p><b>Industria: </b> {{vm.req.client.industry}}</p>
					<p><b>Cédula: </b> {{vm.req.client.idNum}}</p>
					<p><b>Responsable: </b> {{vm.req.client.manager}}</p>
					<p><b>Correo: </b> {{vm.req.client.email}}</p>
					<p><b>Objetivo: </b> {{vm.req.objective}}</p>
					<p><b>Fondos: </b> {{vm.req.money | currency}}</p>
				</div>
			</form>
			<p ng-show="vm.stuApro" class="alert alert-success">El proyecto ha sido aprobado</p>
		</div>
		<div class="modal-footer">
			<!--procesamiento de la solicitud (aprueba o rechaza)-->
			<div class="unModal-footer">
				<button ng-show="vm.btnYes" class="btn btn-sm btn-embossed btn-warning" ng-click="vm.approveRequest(vm.req)">Aprobar</button>
				<button ng-show="vm.btnNo" class="btn btn-sm btn-embossed btn-warning" ng-click="vm.rejection=true;vm.confirm=true;vm.btnYes=false;vm.btnNo=false;vm.switch(vm.req)">Rechazar</button><!--muestra la seccion oculta-->
				<button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->


<!-- Modal -->
<div id="retro-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4>Atención</h4>
		</div>
		<!--despliega todo el contenido de la solicitud-->
		<div class="modal-body">
			<div class="extra" ng-Show="vm.rejection">
				<form novalidate>
					<div class="form-group">
						<label>Justificación</label>
						<div class="form-group">
							<input id="justification" class="form-control" type="text" placeholder="agregue una justificación" ng-model="vm.req.rejectReason">
						</div>
						<!-- <div ng-show="vm.validate">La justificación es requerida</div> -->
					</div>
				</form>
			</div>
			<p ng-show="vm.finalStep">¿Realmente desea rechazar el proyecto?</p>
			<p ng-show="vm.stuReje" class="alert alert-success">El proyecto ha sido rechazado</p>
		</div>
		<div class="modal-footer">
			<div class="unModal-footer">
				<button ng-show="vm.confirm" class="btn btn-sm btn-embossed btn-danger" ng-click="vm.rejectRequest(vm.req)">Rechazar</button>
				<button ng-show="vm.finalStep" class="btn btn-sm btn-embossed btn-warning" ng-click="vm.confirmation(vm.param1,vm.param2)">Confirmar</button>
				<button type="button" class="btn btn-sm btn-embossed btn-danger pull-left" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->