<header>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="color">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>   
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><img id='logo' src='./imgs/cshLogo.png'></li>
        <li><a href="#!/solicitudProyecto">Proyectos</a></li>
        <li><a href="#!/solicitudEstudiantes">Estudiantes</a></li>
        <li><a href="#!/entrar">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="panel-heading">
    <div class="col-md-6 col-md-offset-3">
      <h2>Solicitud estudiante para Cenfotec Software House</h2>
    </div>
  </div>
  <div class="studentRequest col-md-12">
    <form name="studentForm" class="container" autocomplete="off" ng-submit="vm.preSave()" novalidate>
      <!-- Nombre -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="name">Nombre:</label>
        <input data-toggle="tooltip" title="Tooltip on bottom" type="text" ng-model="vm.name" id="txtname" class="form-control" name="name" required pattern="[ñáéíóúA-Za-z ]+">
        <div id="ng-message" ng-messages="studentForm.name.$error" ng-hide="studentForm.name.$pristine" >
          <div ng-message="required" ng-hide="studentForm.name.$pristine" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" ng-hide="studentForm.name.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
        </div>
      </div>
      <!-- Primer Apellido -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="surName">Primer apellido:</label>
        <input type="text" ng-model="vm.surName" id="txtFirstName" class="form-control" name="surName" pattern="[ñáéíóúA-Za-z ]+" required>
        <div id="ng-message" ng-messages="studentForm.surName.$error" ng-hide="studentForm.surName.$pristine">
          <div ng-message="required" ng-hide="studentForm.surName.$pristine"  class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" ng-hide="studentForm.surName.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
        </div>
      </div>
      <!-- Segundo Apellido -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="secondSurname">Segundo apellido:</label>
        <input type="text" ng-model="vm.secondSurname" id="txtFirstName" class="form-control" name="secondSurname" pattern="[ñáéíóúA-Za-z]+" required>
        <div id="ng-message" ng-messages="studentForm.secondSurname.$error" ng-hide="studentForm.secondSurname.$pristine">
          <div ng-message="required" ng-hide="studentForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" ng-hide="studentForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
        </div>
      </div>  
      <!-- Cedula de identidad -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="id">Cédula de identidad</label>
        <input type="text" ng-model="vm.id" id="txtid" class="form-control" name="id" pattern="[0-9]+" maxlength="9" minlength="9" required>
        <div id="ng-message" ng-messages="studentForm.id.$error" ng-hide="studentForm.id.$pristine" required>
          <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
          <div ng-message="maxlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
          <div ng-message="minlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
        </div>
      </div>
      <!-- Fecha de nacimiento -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="birthdate">Fecha de nacimiento:</label>
        <input ng-model="vm.birthdate" id="txtid" type="date" class="form-control" name="birthdate" required>
        <div id="ng-message" ng-messages="studentForm.birthdate.$error" ng-hide="studentForm.birthdate.$pristine" required>
          <div ng-message="required" class="red darken-2 center-align white-text"></div>
        </div>
      </div>
      <!-- Correo electronico -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="email">Correo electrónico</label>
        <input type="email" ng-model="vm.email" id="txtid" class="form-control" name="email" required unique pattern="([a-z0-9\.\-\_]+@ucenfotec.ac.cr)" placeholder="ejemplo@ucenfotec.ac.cr">
        <div id="ng-message" ng-messages="studentForm.email.$error" ng-hide="studentForm.email.$pristine">
          <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" class="red darken-2 center-align white-text">Terminación @ucenfotec.ac.cr</div>
        </div>
      </div>
      <!-- Password -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="newPassword">Contraseña</label>
        <input type="password" ng-model="vm.password" id="txtpassword" class="form-control" name="newPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required maxlength="8" minlength="1">
        <div id="ng-message" ng-messages="studentForm.newPassword.$error" ng-hide="studentForm.newPassword.$pristine">
          <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido</div>
          <div ng-message="pattern" class="red darken-2 center-align white-text">Incluir 8 caracteres (mayúscula, minúscula y número.</div>
        </div>
      </div>
      <!-- Confirm Password -->
      <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
        <label for="confirmPassword">Confirmar contraseña:</label>
        <input ng-model="vm.confirmPassword" id="txtconfirmPassword" type="password" class="form-control" name="confirmPassword" match-password="newPassword" required maxlength="8" minlength="1">
        <div class="clearfix">
          <div id="ng-message" ng-messages="studentForm.confirmPassword.$error" ng-if="studentForm.$submitted || studentForm.confirmPassword.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
          <div ng-message="passwordMatch" class="message slide-left">Contraseña diferente</div></div>
        </div>
      </div>
      <!-- Cargar curriculum -->
      <div class="col-md-4 col-sm-12 col-xs-12 ibck">
        <label>Curriculum Vitae:</label>
        <p><a ng-click="vm.pickFile()" class="form-control" style="background-color: #FBB803; color: black; cursor: pointer;" id="resumeUrl" ng-model="vm.resumeUrl" multiple required >Seleccione el archivo</a></p>
        <div ng-messages="studentForm.resumeUrl.$error" ng-hide="studentForm.resumeUrl.$pristine">
          <div ng-message="required" ng-hide="studentForm.resumeUrl.$pristine" class="red darken-2 center-align white-text">Este campo es requerido</div>
        </div>
      </div> 
      <!-- CV2 -->
      <!-- <div class="col-md-4 col-sm-12 col-xs-12 ibck">
        <label>Curriculum Vitae:</label>
        <div class="input-group">
          <label class="input-group-btn">
            <a ng-click="vm.pickFile()" class="btn btn-primary" style="background-color: #FBB803; color: black">Escoger&hellip;<p><input type="file" style="display: none;" id="resumeUrl" multiple ng-model="vm.resumeUrl" required>{{file.name}}</p>
            </a>
          </label>
          <input type="text" class="form-control" style="color: black" readonly>
        </div>
      </div> -->
      <!-- Cargar imagen -->
      <div class="col-md-4 col-sm-12 col-xs-12 ibck">
        <label>Avatar:</label>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary" style="background-color: #FBB803; color: black">Escoger&hellip;<input type="file" style="display: none;" id="photo" multiple ng-model="vm.pimage" required>
            </span>
          </label>
          <input type="text" class="form-control" style="color: black" readonly>
        </div>
      </div>
      <!-- Escoger carrera -->
      <div class="form-group col-md-4 col-sm-12 col-xs-12 ibck" ng-class="{ 'has-error' : studentForm.career.$invalid && !studentForm.career.$pristine}">
        <label>Carrera(s):</label>
        <div class="form-group">
          <select required ng-model="vm.career" name="selectCareer" class="form-control">
          <option ng-value="career" ng-repeat="career in vm.careers">{{career.name}}</option>
        </select>
    <!-- <select name="addCarrersStu" style="height: 45px"  id="career" class="form-control" ng-model="vm.careers" multiple>
            <option ng-repeat="career in studentCtrl.careers" id="career" ng-value="{{career.nameCareer}}" >{{career.nameCareer}}</option><
          </select>
          <p ng-show="studentForm.career.$invalid && !studentForm.career.$pristine" class="help-block">La foto es requerida.</p>  -->
        </div>
      </div> 

      <!--Usuario de Github-->
      <div class="form-group col-md-4 col-sm-12 col-xs-12" style="display: inline-block; text-align: left;" >
        <label>Usuario GitHub</label>
        <input ng-model="vm.githubUrl" id="gitHub" type="text" class="form-control" name="githubUrl">
      </div>  
      <!-- Link de sitio web -->
      <div class="form-group col-md-4 col-sm-12 col-xs-12" style="display: inline-block" >
        <label for="websiteUrl">Link de sitio web:</label>
        <input ng-model="vm.websiteUrl" id="link" type="url" pattern="https?://.+" title="Include http://" class="form-control" name="websiteUrl" type="url">
        <div id="ng-message" ng-messages="studentForm.websiteUrl.$error" ng-hide="studentForm.websiteUrl.$pristine">
          <div ng-message="pattern" ng-hide="studentForm.websiteUrl.$pristine" class="red darken-2 center-align white-text">Formato incorrecto, debe iniciar con http://...</div>
        </div>
      </div>
      <!-- Telefono -->
      <div class="form-group col-md-4 col-sm-12 col-xs-12" style="display: block;"> 
        <label for="phone">Número de teléfono:</label>
        <input ng-model="vm.phone" pattern="[0-9]+" id="phone" type="text" class="form-control" minlength="8" maxlength="8" name="phone">
        <div id="ng-message" ng-messages="studentForm.phone.$error" ng-hide="studentForm.phone.$pristine">
          <div ng-message="pattern" ng-hide="studentForm.phone.$pristine" class="red darken-2 center-align white-text">Formato incorrecto (####-##-##)</div>
          <div ng-message="minlength" ng-hide="studentForm.phone.$pristine" class="red darken-2 center-align white-text">Complete la cantidad de numeros.</div>
          <div ng-message="maxlength" ng-hide="studentForm.phone.$pristine" class="red darken-2 center-align white-text">Complete la cantidad de numeros.</div>
        </div>
      </div>
      <!-- boton -->
     <div class="form-group col-md-12 col-sm-12 col-xs-12" style="display: block; text-align: center;"> 
        <button type="submit" id="btnRegister" ng-disabled="disabled" class="btn btn-warning btn-embossed" ng-click="studentForm.$setPristine()">Enviar solicitud</button>
      </div>
    </form>
  </div>
</main>

 --><div class="thanks" ng-show="vm.send">
  <p>¡Solicitud enviada correctamente!<br> Nuestros asesores lo contactarán lo más pronto posible.</p>
</div>