<main>
  <div class="row">
    <div class="col-lg-11 col-md-8 col-sm-6 col-xs-4 bhoechie-tab-container">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">
          <a href="#" class="list-group-item active text-center"><h4 class="glyphicon glyphicon-user"></h4><br/>Profesor</a>
          <a href="#" class="list-group-item text-center"><h4 class="glyphicon glyphicon-user"></h4><br/>Administrador</a>
          <a href="#" class="list-group-item text-center"><h4 class="glyphicon glyphicon-user"></h4><br/>Asistente</a>
          <a href="#" class="list-group-item text-center"><h4 class="glyphicon glyphicon-th-list"></h4><br/>Lista</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-5 col-xs-5 bhoechie-tab">
      
      <!-- flight section -->
      <div class="bhoechie-tab-content active">
        <center>
          <form class="profForm" class="container" autocomplete="off" validate>  
            <h4>Registro Profesores</h4>
           
            <div class="form-group col-md-4 col-sm-12 ibck">
              <label for="name">Nombre:</label>
              <input type="text" ng-model="vm.prof.name" id="txtName" class="form-control" name="name" required pattern="[ñáéíóúA-Za-z ]+">
              <div ng-messages="profForm.prof.name.$error" ng-hide="profForm.prof.name.$pristine">
                <div ng-message="required" ng-hide="profForm.name.$pristine" class="red darken-2 center-align white-text">Este campo es requerido!</div>
                <div ng-message="pattern" ng-hide="profForm.name.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
              </div>
            </div>

            <!-- Primer Apellido -->
            <div class="form-group col-md-4 col-sm-12 ibck">
              <label for="surName">Primer apellido:</label>
              <input type="text" ng-model="vm.prof.surname" id="txtlastName" class="form-control" name="surName" pattern="[ñáéíóúA-Za-z ]+" required>
              <div ng-messages="studentForm.surName.$error" ng-hide="studentForm.surName.$pristine">
                <div ng-message="required" ng-hide="studentForm.surName.$pristine"  class="red darken-2 center-align white-text">Este campo es requerido!</div>
                <div ng-message="pattern" ng-hide="studentForm.surName.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
              </div>
            </div>

            <!-- Segundo Apellido -->
            <div class="form-group col-md-3 col-sm-12 ibck">
              <label for="secondSurname">Segundo apellido:</label>
                <input type="text" ng-model="vm.secondSurname" id="txtFirstName" class="form-control" name="secondSurname" pattern="[ñáéíóúA-Za-z]+" required>
              <div ng-messages="studentForm.secondSurname.$error" ng-hide="studentForm.secondSurname.$pristine">
                <div ng-message="required" ng-hide="studentForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Este campo es requerido!</div>
                <div ng-message="pattern" ng-hide="studentForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
              </div>
            </div>


            <div class="form-group col-md-4 ibck" style="display: inline-block;">
              <label>Segundo Apellido:</label>
              <input ng-model="vm.prof.secondSurname" id="txtsurName" type="text" class="form-control" name="secondSurname" required>
            </div>

              <div class="form-group col-md-4 ibck" style="display: inline-block;">
                <label>Cédula de identidad:</label>
                <input ng-model="vm.prof.id" id="txtid" type="text" class="form-control" name="id" maxlength="9" required>
              </div>

              <div class="form-group col-md-4 ibck" style="display: inline-block;">
                <label>Especialidad:</label>
                <input ng-model="vm.prof.specialty" id="txtspecialty" type="text" class="form-control" name="specialty" required>
              </div>

              <div class="form-group col-md-4 ibck" style="display: inline-block;">
                <label>Correo:</label>
                <input overwrite-email ng-model="vm.prof.mail" id="txtemail" type="email" class="form-control" name="mail" required>
              </div>

              <div class="form-group col-md-4 ibck" style="display: inline-block;">
                <label>Contraseña:</label>
                <input ng-model="vm.prof.password" id="txtPassword" type="password" class="form-control" name="password" required unique>
              </div>

              <div class="form-group col-md-4 ibck" style="display: inline-block;">
                <label>Miembro del Consejo:</label>
                <select class="form-control" required ng-model="vm.prof.councilMember" name="councilMember">
                  <option value="" disabled>Seleccione una opción</option>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>

              <div class="form-group col-md-4 ibck" style="margin-top: -2%" ng-class="{ 'has-error' : userForm.photo.$invalid && !userForm.photo.$pristine}">
                <label style="margin-top: 4px">Avatar:</label>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary" style="background-color: #FBB803; color: black;">
                                          Escoger<input type="file" style="display: none" id="photo" multiple ng-model="vm.prof.image" required>
                        </span>
                    </label>
                    <input type="text" class="form-control" style="color: #fff" readonly>
                    <p ng-show="userForm.photo.$invalid && !userForm.photo.$pristine" class="help-block">La foto es requerida.</p>
                </div>
              </div>

              <div class="input-group"> 
                <input ng-disabled="userFormAsis.$valid" type="submit" ng-click="vm.preSaveProf()" class="btn btn-sm btn-embossed btn-warning pull-center" value="Registrar" id="buttonRegis">
              </div>

              <alert class="thanks" ng-show="vm.send">Registro de usuario satisfactorio!</alert>
          </form>
        </center>
      </div>

                <div class="bhoechie-tab-content">
                    <center>
                      <form class="userForm row" validate>
                          <h4>Registro Administradores</h4>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Nombre:</label>
                              <input ng-model="userAprCtrl.admi.name" id="txtName" type="text" class="form-control" name="name"  required>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Primer Apellido:</label>
                              <input ng-model="userAprCtrl.admi.surname" id="txtlastName" type="text" class="form-control" name="surname" required>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Segundo Apellido:</label>
                              <input ng-model="userAprCtrl.admi.secondSurname" id="txtsurName" type="text" class="form-control" name="secondSurname" required>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Cédula de identidad:</label>
                              <input ng-model="userAprCtrl.admi.id" id="txtid" type="text" class="form-control" name="id" maxlength="9" required>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Correo:</label>
                              <input overwrite-email ng-model="userAprCtrl.admi.mail" id="txtemail" type="email" class="form-control" name="mail" required>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Contraseña:</label>
                              <input ng-model="userAprCtrl.admi.password" id="txtPassword" type="password" class="form-control" name="password" required unique>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Puesto de Trabajo:</label>
                              <input ng-model="userAprCtrl.admi.jobPosition" id="txtjobPosition" type="text" class="form-control" name="jobPosition" required>
                            </div>

                            <div class="form-group col-md-4 ibck" style="display: inline-block;">
                              <label>Miembro del Consejo:</label>
                              <select class="form-control" required ng-model="userAprCtrl.admi.councilMember" name="councilMember">
                                <option value="" disabled>Seleccione una opción</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                              </select>
                            </div>

                            <div class="form-group col-md-4 ibck" ng-class="{ 'has-error' : userForm.photo.$invalid && !userForm.photo.$pristine}">
                              <label>Avatar:</label>
                              <div class="input-group">
                                  <label class="input-group-btn">
                                      <span class="btn btn-primary" style="background-color: #FBB803; color: black;">
                                          Escoger<input type="file" style="display: none" id="photo" multiple ng-model="userAprCtrl.admi.image" required>
                                      </span>
                                  </label>
                                  <input type="text" class="form-control" style="color: #fff" readonly>
                                  <p ng-show="userForm.photo.$invalid && !userForm.photo.$pristine" class="help-block">La foto es requerida.</p>
                              </div>
                            </div>

                            <div class="form-group"> 
                              <input ng-disabled="userFormAsis.$valid" type="submit" ng-click="userAprCtrl.preSaveAdmi()" class="btn btn-sm btn-embossed btn-warning pull-right" value="Registrar" id="buttonRegis">
                            </div>

                            <alert class="thanks" ng-show="userAprCtrl.send">Registro de usuario satisfactorio!</alert>
                      </form>
                    </center>
                </div>

                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                      <form name="userFormAsis" class="row">
                        <h4>Registro Asistentes</h4>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Nombre:</label>
                          <input ng-model="userAprCtrl.asis.name" type="text" class="form-control" name="txtNameA" required>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Primer Apellido:</label>
                          <input ng-model="userAprCtrl.asis.surname" id="txtlastName" type="text" class="form-control" name="surname"  required>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Segundo Apellido:</label>
                          <input ng-model="userAprCtrl.asis.secondSurname" id="txtsurName" type="text" class="form-control" name="secondSurname" required>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Cédula de identidad:</label>
                          <input ng-model="userAprCtrl.asist.id" id="txtid" type="text" class="form-control" name="id"  maxlength="9" required>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Correo:</label>
                          <input ng-model="userAprCtrl.asis.mail" id="txtemail" type="email" class="form-control" name="mail" required>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Contraseña:</label>
                          <input ng-model="userAprCtrl.asis.password" id="txtPassword" type="password" class="form-control" name="password" required unique>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Puesto de Trabajo:</label>
                          <input ng-model="userAprCtrl.asis.jobPosition" id="txtjobPosition" type="text" class="form-control" name="jobPosition" required>
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: inline-block;">
                          <label>Teléfono:</label>
                          <input ng-model="userAprCtrl.asis.phone" id="txtphone" type="text" class="form-control" name="phone"  required minlength="8" maxlength="8">
                        </div>

                        <div class="form-group col-md-4 ibck" style="display: block;">
                          <label>Avatar</label>
                          <input type="file"  required id="photo" ng-model="userAprCtrl.asis.image">
                          
                        </div>

                        <div class="form-group"> 
                          <input ng-disabled="userFormAsis.$valid" type="submit" ng-click="userAprCtrl.preSaveAs()" class="btn btn-sm btn-embossed btn-warning pull-right" value="Registrar" id="buttonRegis">
                        </div>

                        <alert class="thanks" ng-show="userAprCtrl.send">Registro de usuario satisfactorio!</alert>
                    </form>
                  </center>
               </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                      <div class="col-md-12">
                            <h3>Lista de Usuarios</h3>

                              <div class="card">
                                <ul class="list-group list-group-flush" id="myScrollspy">
                                <table id="listUsersCSH">
                                  <thead id="head-user">
                                    <tr>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Tipo de Usuario</th>
                                      <th>Correo electrónico</th>
                                    </tr>
                                  </thead>

                                    <tbody>
                                      <tr ng-repeat="user in userAprCtrl.userList | filter: {role: professor, role: administrador, role: asistente}">
                                          <td>{{user.name}}</td>
                                          <td>{{user.surname}}</td>
                                          <td>{{user.role}}</td>
                                          <td>{{user.mail}}</td>
                                          <td><button class="btn btn-sm btn-embossed btn-warning pull-right" ng-click="userAprCtrl.deleteUser(user.id)">Eliminar</button></td>
                                          <td><button class="btn btn-sm btn-embossed btn-warning pull-right" id="modi" ng-click="userAprCtrl.viewProf(userAprCtrl.ap.id)">Modificar</button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  </ul>
                                </div>
                        </div>
                    </center>
                </div>

            </div>
        </div>
  </div>
</main>













      <!--<section>
      <div class="Eliminar usuarios">
        <form name="userFormProfDelete">

          <div class="input-group">
            <label for="repeatSelect">Eliminar y/o Modificar Profesor</label>
            <select ng-model="userAprCtrl.ap.id">
              <option ng-value="user.id" ng-repeat="user in userAprCtrl.userList">{{ user.name + " " + user.surname }}</option>
            </select>


            <button ng-click="userAprCtrl.deleteUser(userAprCtrl.ap.id)">Eliminar</button>
            <button id="modi" ng-click="userAprCtrl.viewProf(userAprCtrl.ap.id)">Modificar</button>
          </div>

        </form>   
      </div>
      </section>  

      <section>



      <div class="unModal" id="modi" ng-Show="userAprCtrl.edit.modal">
        <div class="unModal-header">
          <label>Información de {{ userAprCtrl.edit.professor.name }}</label>
        </div>

        <div class="unModal-body">
            <div class="input-group">

                <div class="input-group">
                  <label>Especialidad:</label>
                      <input ng-model="userAprCtrl.edit.specialty" id="txtspecialty" type="text" class="form-control" name="specialty2" placeholder="Ingrese la especialidad" required>
                </div>


                <div class="input-group">
                  <label>Miembro del Consejo:</label>
                  <select class="form-control" required ng-model="userAprCtrl.edit.councilMember" name="consejo2">
                    <option value="" disabled>Seleccione una opción</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>


                <div class="input-group">
                  <label>Habilitado para proyectos:</label>
                  <select class="form-control" required ng-model="userAprCtrl.edit.availableForProyects" name="habilit2">
                    <option value="" disabled>Seleccione una opción</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>  
                  </select>
                </div>
        </div>

        <div class="unModal-footer">
          <button ng-click="userAprCtrl.preModify()">Modificar Información</button>
        </div>

      </div>
      </section>
    </div>
  </div>
</div>




