<main>
<div class="row">
        <div class="col-lg-11 col-md-8 col-sm-6 col-xs-4 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Profesor
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-plus-sign"></h4><br/>Asistente
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-th-list"></h4><br/>Lista
                </a>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-5 col-xs-5 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                      <form class="userForm row">
                          <div class="panel">Formulario registro de usuarios</div>
                          <div class="panel-body">

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Nombre:</label>
                              <input ng-model="userAprCtrl.ap.name" id="txtName" type="text" class="form-control" name="name" placeholder="Ingrese el nombre" required>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Primer Apellido:</label>
                              <input ng-model="userAprCtrl.ap.surname" id="txtlastName" type="text" class="form-control" name="surname" placeholder="Ingrese el Apellido" required>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Segundo Apellido:</label>
                              <input ng-model="userAprCtrl.ap.secondSurname" id="txtsurName" type="text" class="form-control" name="secondSurname" placeholder="Ingrese el Apellido" required>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Cédula de identidad:</label>
                              <input ng-model="userAprCtrl.ap.id" id="txtid" type="text" class="form-control" name="id" placeholder="Ingrese su cédula" maxlength="9" required>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Rol de Usuario:</label>
                              <select ng-model="userAprCtrl.ap.role" class="form-control">
                                <option value="" disabled>Seleccione un rol</option>
                                <option value="administrador">Administrador</option>
                                <option value="profesor">Profesor</option>
                              </select>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Especialidad:</label>
                              <input ng-model="userAprCtrl.ap.specialty" id="txtspecialty" type="text" class="form-control" name="specialty" placeholder="Ingrese la especialidad" required>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Correo:</label>
                              <input overwrite-email ng-model="userAprCtrl.ap.mail" id="txtemail" type="email" class="form-control" name="mail" placeholder="Ingrese el correo" required>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Contraseña:</label>
                              <input ng-model="userAprCtrl.ap.password" id="txtPassword" type="password" class="form-control" name="password" placeholder="Contraseña" required unique>
                            </div>

                            <div class="input-group col-md-3" style="display: inline-block;">
                              <label>Miembro del Consejo:</label>
                              <select class="form-control" required ng-model="userAprCtrl.ap.councilMember" name="councilMember">
                                <option value="" disabled>Seleccione una opción</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                              </select>
                            </div>


                            <div class="input-group col-md-5" style="display: inline-block;">
                              <label>Habilitado para proyectos:</label>
                              <select class="form-control" required ng-model="userAprCtrl.ap.availableForProyects" name="availableForProyects">
                                <option value="" disabled>Seleccione una opción</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                              </select>
                            </div>


                            <div class="col-md-5" ng-class="{ 'has-error' : userForm.photo.$invalid && !userForm.photo.$pristine}">
                              <label>Avatar:</label>
                              <div class="input-group">
                                  <label class="input-group-btn">
                                      <span class="btn btn-primary" style="background-color: #FBB803; color: black;">
                                          Escoger<input type="file" style="display: none" id="photo" multiple ng-model="userAprCtrl.ap.image" required>
                                      </span>
                                  </label>
                                  <input type="text" class="form-control" style="color: #fff" readonly>
                                  <p ng-show="userForm.photo.$invalid && !userForm.photo.$pristine" class="help-block">La foto es requerida.</p>
                              </div>
                            </div>

                            <div class="input-group"> 
                              <input ng-disabled="userFormAsis.$valid" type="submit" ng-click="userAprCtrl.preSave()" class="btn btn-sm btn-embossed btn-warning pull-right" value="Registrar" id="buttonRegis">
                            </div>

                            <alert class="thanks" ng-show="userAprCtrl.send">Registro de usuario satisfactorio!</alert>
                        </div>
                      </form>
                    </center>
                </div>

                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                      <form name="userFormAsis" class="row">
          <div class="panel panel-default">
          <div class="panel-heading">Registrar asistentes</div>
          <div class="panel-body">

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Nombre:</label>
              <input ng-model="userAprCtrl.asis.name" type="text" class="form-control" name="txtNameA" placeholder="Ingrese el nombre" required>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Primer Apellido:</label>
              <input ng-model="userAprCtrl.asis.surname" id="txtlastName" type="text" class="form-control" name="surname" placeholder="Ingrese el Apellido" required>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Segundo Apellido:</label>
              <input ng-model="userAprCtrl.asis.secondSurname" id="txtsurName" type="text" class="form-control" name="secondSurname" placeholder="Ingrese el Apellido" required>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Cédula de identidad:</label>
              <input ng-model="userAprCtrl.asist.id" id="txtid" type="text" class="form-control" name="id" placeholder="Ingrese su cédula" maxlength="9" required>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Correo:</label>
              <input ng-model="userAprCtrl.asis.mail" id="txtemail" type="email" class="form-control" name="mail" placeholder="Ingrese el correo" required>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Contraseña:</label>
              <input ng-model="userAprCtrl.asis.password" id="txtPassword" type="password" class="form-control" name="password" placeholder="Contraseña" required unique>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Puesto de Trabajo:</label>
              <input ng-model="userAprCtrl.asis.jobPosition" id="txtjobPosition" type="text" class="form-control" name="jobPosition" placeholder="Ingrese el puesto de trabajo" required>
            </div>

            <div class="input-group col-md-5" style="display: inline-block;">
              <label>Teléfono:</label>
              <input ng-model="userAprCtrl.asis.phone" id="txtphone" type="text" class="form-control" name="phone" placeholder="Ingrese el número de teléfono" required minlength="8" maxlength="8">
            </div>

            <div class="input-group col-md-5" style="display: block;">
              <label>Avatar</label>
              <input type="file"  required id="photo" ng-model="userAprCtrl.asis.image">
              
            </div>

            <div class="input-group"> 
              <input ng-disabled="userFormAsis.$valid" type="submit" ng-click="userAprCtrl.preSaveAs()" class="btn btn-sm btn-embossed btn-warning pull-right" value="Registrar" id="buttonRegis">
            </div>

            <alert class="thanks" ng-show="userAprCtrl.send">Registro de usuario satisfactorio!</alert>
        </div>
        </div>
        </form>
                    </center>
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                      <div class="col-md-12">
        <div class="panel panel-default">
                <div class="panel-heading">Lista de Usuarios</div>
                <div class="panel-body">
                  <div class="card">
                    <ul class="list-group list-group-flush" id="myScrollspy">
                    <table id="listUsersCSH">
                      <thead id="head-user">
                        <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Tipo de Usuario</th>
                          <th>Correo electrónico</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat="user in userAprCtrl.userList | filter: {role: professor, role: administrador, role: asistente}">
                            <td>{{user.name}}</td>
                            <td>{{user.surname}}</td>
                            <td>{{user.role}}</td>
                            <td>{{user.mail}}</td>
                            <td><button class="btn btn-sm btn-embossed btn-warning pull-right" ng-click="userAprCtrl.deleteUser(user.id)">Eliminar</button></td>
                            <td><button class="btn btn-sm btn-embossed btn-warning pull-right" id="modi" ng-click="userAprCtrl.viewProf(userAprCtrl.ap.id)">Modificar</button></td>
                        </tr>
                      </tbody>
                    </table>
                    </ul>
                  </div>
                </div>
                 <div class="panel-footer"></div>
              </div>
            </div>
            </div>
                    </center>
                </div>
            </div>
        </div>
  </div>
</main>













      <!--<section>
      <div class="Eliminar usuarios">
        <form name="userFormProfDelete">

          <div class="input-group">
            <label for="repeatSelect">Eliminar y/o Modificar Profesor</label>
            <select ng-model="userAprCtrl.ap.id">
              <option ng-value="user.id" ng-repeat="user in userAprCtrl.userList">{{ user.name + " " + user.surname }}</option>
            </select>


            <button ng-click="userAprCtrl.deleteUser(userAprCtrl.ap.id)">Eliminar</button>
            <button id="modi" ng-click="userAprCtrl.viewProf(userAprCtrl.ap.id)">Modificar</button>
          </div>

        </form>   
      </div>
      </section>  

      <section>



      <div class="unModal" id="modi" ng-Show="userAprCtrl.edit.modal">
        <div class="unModal-header">
          <label>Información de {{ userAprCtrl.edit.professor.name }}</label>
        </div>

        <div class="unModal-body">
            <div class="input-group">

                <div class="input-group">
                  <label>Especialidad:</label>
                      <input ng-model="userAprCtrl.edit.specialty" id="txtspecialty" type="text" class="form-control" name="specialty2" placeholder="Ingrese la especialidad" required>
                </div>


                <div class="input-group">
                  <label>Miembro del Consejo:</label>
                  <select class="form-control" required ng-model="userAprCtrl.edit.councilMember" name="consejo2">
                    <option value="" disabled>Seleccione una opción</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>


                <div class="input-group">
                  <label>Habilitado para proyectos:</label>
                  <select class="form-control" required ng-model="userAprCtrl.edit.availableForProyects" name="habilit2">
                    <option value="" disabled>Seleccione una opción</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>  
                  </select>
                </div>
        </div>

        <div class="unModal-footer">
          <button ng-click="userAprCtrl.preModify()">Modificar Información</button>
        </div>

      </div>
      </section>
    </div>
  </div>
</div>




