<div ng-include="'components/dashboard/header/header.view.html'"></div>
  <div class="wrapper">
    <div class="menu" ng-include="'components/dashboard/menu/menu.view.html'"></div>
    <div class="dashboard">

      <section>
          <div class="panel panel-info" >

            <div class="panel-body" >
              <form name="userFormProf">

              <div class="Registro de Profesores">
              <h3>Asistentes</h3>

                <div class="input-group">
                  <label>Nombre:</label>
                      <input ng-model="userAssistantCtrl.asis.name" id="txtNameA" type="text" class="form-control" name="txtNameA" placeholder="Ingrese el nombre" required>
                </div>

                <div class="input-group">
                  <label>Primer Apellido:</label>
                      <input ng-model="userAssistantCtrl.asis.surname" id="txtlastName" type="text" class="form-control" name="surname" placeholder="Ingrese el Apellido" required>
                </div>

                 <div class="input-group">
                  <label>Segundo Apellido:</label>
                      <input ng-model="userAssistantCtrl.asis.secondSurname" id="txtsurName" type="text" class="form-control" name="secondSurname" placeholder="Ingrese el Apellido" required>
                </div>

                <div class="input-group">
                  <label>Cédula de identidad:</label>
                    <input ng-model="userAssistantCtrl.asist.id" id="txtid" type="text" class="form-control" name="id" placeholder="Ingrese su cédula" maxlength="9" required>
                  </div>


                <div class="input-group">
                  <label>Correo:</label>
                      <input ng-model="userAssistantCtrl.asis.mail" id="txtemail" type="email" class="form-control" name="mail" placeholder="Ingrese el correo" required>
                </div>

                 <div class="input-group">
                  <label>Contraseña:</label>
                      <input ng-model="userAssistantCtrl.asis.password" id="txtPassword" type="password" class="form-control" name="password" placeholder="Contraseña" required unique>
                  </div>

                <div class="input-group">
                  <label>Puesto de Trabajo:</label>
                      <input ng-model="userAssistantCtrl.asis.jobPosition" id="txtjobPosition" type="text" class="form-control" name="jobPosition" placeholder="Ingrese el puesto de trabajo" required>
                </div>

                <div class="input-group">
                  <label>Teléfono:</label>
                      <input ng-model="userAssistantCtrl.asis.phone" id="txtphone" type="text" class="form-control" name="jobPosition" placeholder="Ingrese el número de teléfono" required minlength="8" maxlength="8">
                </div>


                <div class="input-group">
                <label>Avatar</label>
                <input type="file"  required id="photo" ng-model="userAssistantCtrl.asis.image">
              </div>

                 <div class="input-group"> 
                  <input ng-disabled="userFormProf.$valid" type="submit" ng-click="userAssistantCtrl.preSave()" class="btn1" value="Registrar Usuario">
                </div>
              </div>
              </form>
            </div>
          </div>
      </section>

      <section>
      <div class="Eliminar usuarios">
        <form name="userFormProfDelete">

          <div class="input-group">
            <label for="repeatSelect">Eliminar y/o Modificar Asistente</label>
            <select ng-model="userAssistantCtrl.asis.id">
              <option ng-value="assistant.id" ng-repeat="assistant in userAssistantCtrl.userAssistantList">{{ assistant.name + " " + assistant.surname }}</option>
            </select>

      <!--+ " " + assistant.surname-->
            <button ng-click="userAssistantCtrl.deleteAssit($index)">Eliminar</button>
            <button id="modi" ng-click="userAssistantCtrl.viewAsis($index)">Modificar</button>
          </div>

        </form>   
      </div>
      </section>  

      <section>
        <!--Muestra el detalle de la solicitud seleccionada-->
      <!--la idea es que sea un modal-->

      <div class="unModal" id="modi" ng-Show="userAssistantCtrl.edit.modal">
        <div class="unModal-header">
          <label>Información de {{ userAssistantCtrl.edit.assistant.name }}</label>
        </div>
        <!--despliega todo el contenido de la solicitud-->
        <div class="unModal-body">
            <div class="input-group">
            
                <div class="input-group">
                  <label>Puesto de Trabajo:</label>
                      <input ng-model="userAssistantCtrl.edit.jobPosition" id="txtjobPosition" type="text" class="form-control" name="jobPosition" placeholder="Ingrese el puesto de trabajo" required>
                </div>

                <div class="input-group">
                  <label>Teléfono:</label>
                      <input ng-model="userAssistantCtrl.edit.phone" id="txtphone" type="text" class="form-control" name="jobPosition" placeholder="Ingrese el número de teléfono" required minlength="8" maxlength="8">
                </div>
              
            </div>
        <!--procesamiento de la solicitud (aprueba o rechaza)-->
        <div class="unModal-footer">
          <button ng-click="userAssistantCtrl.preModify()">Modificar Información</button>
        </div>

      </div>
      </section>
    </div>
  </div>
</div>