<div ng-include="'components/dashboard/header/header.view.html'"></div>
<div class="wrapper">
<div class="menu" ng-include="'components/dashboard/menu/menu.view.html'"></div>
<div class="dashboard">
	<div class="wrap">
		<div class="row cf">
			<!--Seccion para listar proyectos-->
			<div class="col-sm-12 col-md-6" ng-Show="projectsCtrl.listingProjects">
				<div class="box">
		            <h1 class="boxTitle">
			            Lista de proyectos
						<!--escoger el estado de los proyectos a listar-->
			            <select name="projectsSelect" ng-model="search">
					      <option value="" disabled="disabled">Seleccione un estado</option>
					      <option ng-repeat="state in projectsCtrl.statesList" ng-value="{{state.id}}" >{{state.name}}</option>
					    </select>
		            </h1>
		            <div class="boxContent">
			            <!--desplegar los proyectos-->
						<!--mensaje para cuando no existen proyectos-->
						<div class="message" ng-Show="projectsCtrl.message">
							<p>No existen proyectos con el estado "{{projectsCtrl.state.name}}"</p>
						</div>
						<!-- carga los proyectos -->
					    <div class="item cf" ng-repeat="project in projectsCtrl.projects | filter:{state_key:search}">
					        <p>{{project.name}}</p>
					        <div class="moreAnotations">
					        	<a ui-sref="watchProject({ proyectoId: {{ project.id }} })">Ver proyecto</a>
					        </div>
					    </div><!--item-->
		            </div><!--boxContent-->
		        </div><!--box-->
			</div><!--Seccion para listar proyectos-->
		</div><!--Fin row-->
	</div><!--Fin wrap-->
</div><!--Fin dashboard-->
</div><!--Fin wrapper-->