<main>
  <div class="row">
    <div class="col-lg-11 col-md-8 col-sm-6 col-xs-3 bhoechie-tab-container">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">
          <a href="#" class="list-group-item active text-center"><h4 class="glyphicon glyphicon-user"></h4><br/>Profesor</a>
          <a href="#" class="list-group-item text-center"><h4 class="glyphicon glyphicon-user"></h4><br/>Administrador</a>
          <a href="#" class="list-group-item text-center"><h4 class="glyphicon glyphicon-user"></h4><br/>Asistente</a>
          <a href="#" class="list-group-item text-center"><h4 class="glyphicon glyphicon-th-list"></h4><br/>Lista</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-5 col-xs-5 bhoechie-tab">
        <!-- Sección de profesores-->
        <div class="bhoechie-tab-content active">
          <form class="profForm"  name="profForm" class="container" autocomplete="off" ng-submit="vm.preSaveProf()" novalidate>  
            <h3 class="tittle">Registro de profesores</h3>
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <!-- Nombre -->
                <label for="name">Nombre:</label>
                <input type="text" ng-model="vm.prof.name" id="txtName" class="form-control" name="name" required pattern="[ñáéíóúÁÉÍÓÚÑA-Za-z ]+">
                <div id="ng-message" ng-messages="profForm.name.$error" ng-hide="profForm.name.$pristine">
                  <div ng-message="required" ng-hide="profForm.name.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" ng-hide="profForm.name.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
                </div>
              </div>
              <!-- Primer Apellido -->
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
                <label for="surName">Primer apellido:</label>
                <input type="text" ng-model="vm.prof.surName" id="txtsurName" class="form-control" name="surName" pattern="[ñáéíóúA-Za-z ]+" required>
                <div id="ng-message"  ng-messages="profForm.surName.$error" ng-hide="profForm.surName.$pristine">
                  <div ng-message="required" ng-hide="profForm.surName.$pristine"  class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" ng-hide="profForm.surName.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
                </div>
              </div>
              <!-- Segundo Apellido -->
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
                <label for="secondSurname">Segundo apellido:</label>
                  <input type="text" ng-model="vm.prof.secondSurname" id="txtsecondSurName" class="form-control" name="secondSurname" pattern="[ñáéíóúA-Za-z]+" required>
                <div id="ng-message" ng-messages="profForm.secondSurname.$error" ng-hide="profForm.secondSurname.$pristine">
                  <div ng-message="required" ng-hide="profForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" ng-hide="profForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
                </div>
              </div>
              <!-- Cedula de identidad -->
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
                <label for="id">Cédula de identidad</label>
                  <input type="text" ng-model="vm.prof.id" id="txtid" class="form-control" name="id" pattern="[0-9]+" maxlength="9" minlength="9" required unique>
                <div id="ng-message" ng-messages="profForm.id.$error" ng-hide="profForm.id.$pristine" required>
                  <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números.</div>
                  <div ng-message="maxlength" class="red darken-2 center-align white-text">Ingrese 9 dígitos.</div>
                  <div ng-message="minlength" class="red darken-2 center-align white-text">Ingrese 9 dígitos.</div>
                </div>
              </div>
              <!-- Especialidad -->
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
                <label for="specialty">Especialidad</label>
                  <input type="text" ng-model="vm.prof.specialty" id="txtspecialty" class="form-control" name="specialty" required>
                <div id="ng-message" ng-messages="profForm.specialty.$error" ng-hide="profForm.specialty.$pristine" required>
                  <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                </div>
              </div>
              <!-- Correo electronico -->
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
                <label for="email">Correo electrónico</label>
                  <input type="email" ng-model="vm.prof.email" id="txtemail" class="form-control" name="email" required unique pattern="([a-z0-9\.\-\_]+@ucenfotec.ac.cr)" placeholder="ejemplo@ucenfotec.ac.cr">
                <div id="ng-message" ng-messages="profForm.email.$error" ng-hide="profForm.email.$pristine">
                  <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" class="red darken-2 center-align white-text">Terminación @ucenfotec.ac.cr</div>
                </div>
              </div>
              <!-- Password -->
              <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
                <label for="newPassword">Contraseña</label>
                  <input type="password" ng-model="vm.prof.password" id="txtPassword" class="form-control" name="newPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required minlength="5" unique>
                <div id="ng-message" ng-messages="profForm.newPassword.$error" ng-hide="profForm.newPassword.$pristine">
                  <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" class="red darken-2 center-align white-text">Debe usar may. min. y números</div>
                </div>
              </div>
             <!-- Confirmar contraseña-->
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="confirmPassword">Confirmar contraseña:</label>
              <input ng-model="vm.prof.confirmPassword" id="txtconfirmPassword" type="password" class="form-control" name="confirmPassword" match-password="newPassword" required  minlength="1">
              <div class="clearfix">
                <div id="ng-message" ng-messages="profForm.confirmPassword.$error" ng-if="profForm.$submitted || profForm.confirmPassword.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                  <div ng-message="required" class="message slide-left"></div>
                  <div ng-message="passwordMatch" class="message slide-left">Contraseña diferente.</div>
                </div>
              </div>
            </div>
              <!-- Miembro del Consejo -->
              <div class="form-group col-md-4 col-sm-12 col-xs-12 ibck">
                <label for="councilMember">Miembro del Consejo:</label>
                <select class="form-control" required id="txtCouncil" ng-model="vm.prof.councilMember" name="councilMember" required>
                  <option disabled>Seleccione una opción</option>
                  <option value="Yes">Si</option>
                  <option value="No">No</option>
                </select>  
                <div id="ng-message" ng-messages="profForm.councilMember.$error" ng-hide="profForm.councilMember.$pristine">
                  <div ng-message="required" ng-hide="profForm.councilMember.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                </div>
              </div>
              <!-- Cargar imagen -->
              <div class="col-md-4 col-sm-12 col-xs-12 ibck">
                <label>Avatar:</label>
                <div class="input-group">
                  <label class="input-group-btn">
                    <span class="btn btn-primary" style="background-color: #FBB803; color: black">Escoger&hellip;<input type="file" style="display: none;" id="photo" multiple ng-model="vm.pimage">
                    </span>
                  </label>
                  <input type="text" class="form-control" style="color: black" readonly>
                </div>
              </div>
              <!-- Telefono -->
              <div class="form-group col-md-4 col-sm-12 col-xs-12" style="display: block;"> 
                <label for="phone">Número de teléfono:</label>
                <input ng-model="vm.prof.phone" pattern="[0-9]+" id="phone" type="text" class="form-control" minlength="8" maxlength="8" name="phone">
                 <div id="ng-message" ng-messages="profForm.phone.$error" ng-hide="profForm.phone.$pristine">
                    <div ng-message="pattern" ng-hide="profForm.phone.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente números.</div>
                    <div ng-message="minlength" ng-hide="profForm.phone.$pristine" class="red darken-2 center-align white-text">Ingrese 8 dígitos</div>
                    <div ng-message="maxlength" ng-hide="profForm.phone.$pristine" class="red darken-2 center-align white-text">Ingrese 8 dígitos</div>
                </div>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12" style="display: block; text-align: center;"> 
                <button type="submit" id="btnRegister" ng-disabled="profForm.$invalid" class="btn btn-warning btn-embossed" ng-click="profForm.$setPristine()">Registrar</button>
              </div>
          </form>       
        </div>
            <!-- Sección de administradores-->
        <div class="bhoechie-tab-content">
          <form class="userAdmiForm" class="row" name="userAdmiForm" novalidate autocomplete="off" ng-submit="vm.preSaveAdmi()">
            <h3 class="tittle">Registro de administrador</h3>
      
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="name">Nombre:</label>
              <input type="text" ng-model="vm.admi.name" id="txtName" class="form-control" name="name" required pattern="[ñáéíóúA-Za-z ]+">
              <div id="ng-message" ng-messages="userAdmiForm.name.$error" ng-hide="userAdmiForm.name.$pristine">
                <div ng-message="required" ng-hide="userAdmiForm.name.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" ng-hide="userAdmiForm.name.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="surName">Primer apellido:</label>
              <input type="text" ng-model="vm.admi.surName" id="txtsurName" class="form-control" name="surName" pattern="[ñáéíóúA-Za-z ]+" required>
              <div id="ng-message" ng-messages="userAdmiForm.surName.$error" ng-hide="userAdmiForm.surName.$pristine">
                <div ng-message="required" ng-hide="userAdmiForm.surName.$pristine"  class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" ng-hide="userAdmiForm.surName.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="secondSurname">Segundo apellido:</label>
              <input type="text" ng-model="vm.admi.secondSurname" id="txtsecondSurName" class="form-control" name="secondSurname" pattern="[ñáéíóúA-Za-z]+" required>
              <div id="ng-message" ng-messages="userAdmiForm.secondSurname.$error" ng-hide="userAdmiForm.secondSurname.$pristine">
                <div ng-message="required" ng-hide="userAdmiForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" ng-hide="userAdmiForm.secondSurname.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="id">Cédula de identidad</label>
              <input type="text" ng-model="vm.admi.id" id="txtid" class="form-control" name="id" pattern="[0-9]+" maxlength="9" minlength="9" required>
              <div id="ng-message" ng-messages="userAdmiForm.id.$error" ng-hide="userAdmiForm.id.$pristine" required>
                <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
                <div ng-message="maxlength" class="red darken-2 center-align white-text">Ingrese 9 dígitos</div>
                <div ng-message="minlength" class="red darken-2 center-align white-text">Ingrese 9 dígitos</div>
              </div>
            </div>
            <!-- Correo-->
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="email">Correo electrónico</label>
                <input type="email" ng-model="vm.admi.email" id="txtemail" class="form-control" name="email" required unique pattern="([a-z0-9\.\-\_]+@ucenfotec.ac.cr)" placeholder="ejemplo@ucenfotec.ac.cr">
              <div id="ng-message" ng-messages="userAdmiForm.email.$error" ng-hide="userAdmiForm.email.$pristine">
                <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" class="red darken-2 center-align white-text">Terminación @ucenfotec.ac.cr</div>
              </div>
            </div>
            <!-- Contraseña-->
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="newPassword">Contraseña</label>
              <input type="password" ng-model="vm.admi.password" id="txtPassword" class="form-control" name="newPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required maxlength="8" minlength="1" unique>
              <div id="ng-message" ng-messages="userAdmiForm.newPassword.$error" ng-hide="userAdmiForm.newPassword.$pristine">
                <div ng-message="pattern" class="red darken-2 center-align white-text">Debe usar may, min y números.</div>
              </div>
            </div>
            <!-- Confirmar contraseña-->
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="confirmPassword">Confirmar contraseña:</label>
              <input ng-model="vm.admi.confirmPassword" id="txtconfirmPassword" type="password" class="form-control" name="confirmPassword" match-password="newPassword" required  minlength="1">
              <div class="clearfix">
                <div id="ng-message" ng-messages="userAdmiForm.confirmPassword.$error" ng-if="userAdmiForm.$submitted || userAdmiForm.confirmPassword.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                  <div ng-message="passwordMatch" class="message slide-left">Contraseña diferente.</div>
                </div>
              </div>
            </div>
            <!-- Puesto de trabajo-->
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="jobPosition">Puesto de trabajo:</label>
              <input type="text" ng-model="vm.admi.jobPosition" id="txtjobPosition" class="form-control" name="jobPosition" required pattern="[ñáéíóúA-Za-z ]+">
                <div id="ng-message" ng-messages="userAdmiForm.jobPosition.$error" ng-hide="userAdmiForm.jobPosition.$pristine">
                  <div ng-message="required" ng-hide="userAdmiForm.jobPosition.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                  <div ng-message="pattern" ng-hide="userAdmiForm.jobPosition.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras.</div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="form-group col-md-6 col-sm-12 col-xs-12 ibck">
              <label>Avatar:</label>
              <div class="input-group">
                  <label for="photoAdmi" class="input-group-btn">
                      <span class="btn btn-primary" style="background-color: #FBB803; color: black">Escoger&hellip;<input type="file" style="display: none;" id="photoAdmi" multiple ng-model="vm.pimage">
                      </span>
                  </label>
                  <input type="text" class="form-control" style="color: black" readonly>
              </div>
              <div ng-messages="userAdmiForm.photoAdmi.$error" ng-hide="userAdmiForm.photoAdmi.$pristine">
                  <div ng-message="required" ng-hide="userAdmiForm.photoAdmi.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
              </div>
            </div>
            <!-- Teléfono -->
            <div class="form-group col-md-6 col-sm-12" style="display: block;"> 
              <label for="phone">Número de teléfono:</label>
              <input ng-model="vm.admi.phone" pattern="[0-9]+" id="phone" type="text" class="form-control" minlength="8" maxlength="8" name="phone">
              <div id="ng-message" ng-messages="userAdmiForm.phone.$error" ng-hide="userAdmiForm.phone.$pristine">
                <div ng-message="pattern" ng-hide="userAdmiForm.phone.$pristine" class="red darken-2 center-align white-text">Ingrese únicamente números.</div>
                <div ng-message="minlength" ng-hide="userAdmiForm.phone.$pristine" class="red darken-2 center-align white-text">Ingrese 8 dígitos</div>
                <div ng-message="maxlength" ng-hide="userAdmiForm.phone.$pristine" class="red darken-2 center-align white-text">Ingrese 8 dígitos</div>
              </div>
            </div> 
            <!-- Botón -->
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="display: block; text-align: center;"> 
                <button type="submit" id="btnRegister" ng-disabled="userAdmiForm.$invalid" class="btn btn-warning btn-embossed" ng-click="userAdmiForm.$setPristine()">Registrar</button>
            </div>    
          </form>
        </div>

        <!-- Sección de asistentes-->            
        <div class="bhoechie-tab-content">
          <form name="userFormAsis" class="userFormAsis" class="row" novalidate autocomplete="off" ng-submit="vm.preSaveAsis()">
            <h3 class="tittle">Registro de asistentes</h3>
            <div  class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="name">Nombre:</label>
              <input type="text" ng-model="vm.asis.name" id="txtName" class="form-control" name="name" required pattern="[ñáéíóúA-Za-z ]+">
                <div id="ng-message" ng-messages="userFormAsis.name.$error" ng-hide="userFormAsis.name.$pristine">
                  <div ng-message="required" ng-hide="userFormAsis.name.$pristine" class="red darken-2 center-align white-text">Este campo es requerido..</div>
                  <div ng-message="pattern" ng-hide="userFormAsis.name.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="surName">Primer apellido:</label>
              <input type="text" ng-model="vm.asis.surName" id="txtsurName" class="form-control" name="surName" pattern="[ñáéíóúA-Za-z ]+" required>
              <div id="ng-message" ng-messages="userFormAsis.surName.$error" ng-hide="userFormAsis.surName.$pristine">
                <div ng-message="required" ng-hide="userFormAsis.surName.$pristine"  class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" ng-hide="userFormAsis.surName.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="secondSurname">Segundo apellido:</label>
              <input type="text" ng-model="vm.asis.secondSurname" id="txtsecondSurName" class="form-control" name="secondSurname" pattern="[ñáéíóúA-Za-z]+" required>
              <div id="ng-message" ng-messages="userFormAsis.secondSurname.$error" ng-hide="userFormAsis.secondSurname.$pristine">
                <div ng-message="required" ng-hide="userFormAsis.secondSurname.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" ng-hide="userFormAsis.secondSurname.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="id">Cédula de identidad</label>
              <input type="text" ng-model="vm.asis.id" id="txtid" class="form-control" name="id" pattern="[0-9]+" maxlength="9" minlength="9" required>
              <div id="ng-message" ng-messages="userFormAsis.id.$error" ng-hide="userFormAsis.id.$pristine" required>
                <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" class="red darken-2 center-align white-text">Favor ingresar únicamente números</div>
                <div ng-message="maxlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
                <div ng-message="minlength" class="red darken-2 center-align white-text">Complete la cantidad de números</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="email">Correo electrónico</label>
              <input type="text" ng-model="vm.asis.email" id="txtemail" class="form-control" name="email" required unique pattern="([a-z0-9\.\-\_]+@ucenfotec.ac.cr)" placeholder="ejemplo@ucenfotec.ac.cr">
              <div id="ng-message" ng-messages="userFormAsis.email.$error" ng-hide="userFormAsis.email.$pristine">
                <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" class="red darken-2 center-align white-text">Terminación @ucenfotec.ac.cr</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="newPassword">Contraseña</label>
              <input type="password" ng-model="vm.asis.password" id="txtPassword" class="form-control" name="newPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required maxlength="8" minlength="1" unique>
              <div id="ng-message" ng-messages="userFormAsis.newPassword.$error" ng-hide="userFormAsis.newPassword.$pristine">
                <div ng-message="required" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" class="red darken-2 center-align white-text">Debe usar mayúscula, minúscula y números</div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="confirmPassword">Confirmar contraseña:</label>
              <input ng-model="vm.asis.confirmPassword" id="txtconfirmPassword" type="password" class="form-control" name="confirmPassword" match-password="newPassword" required maxlength="8" minlength="1">
              <div class="clearfix">
                <div id="ng-message" ng-messages="userFormAsis.confirmPassword.$error" ng-if="userFormAsis.$submitted || userFormAsis.confirmPassword.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                  <div ng-message="passwordMatch" class="message slide-left">Contraseña diferente</div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12 ibck">
              <label for="jobPosition">Puesto de trabajo:</label>
              <input type="text" ng-model="vm.asis.jobPosition" id="txtjobPosition" class="form-control" name="jobPosition" required pattern="[ñáéíóúA-Za-z ]+">
              <div id="ng-message" ng-messages="userFormAsis.jobPosition.$error" ng-hide="userFormAsis.jobPosition.$pristine">
                <div ng-message="required" ng-hide="userFormAsis.jobPosition.$pristine" class="red darken-2 center-align white-text">Este campo es requerido.</div>
                <div ng-message="pattern" ng-hide="userFormAsis.jobPosition.$pristine" class="red darken-2 center-align white-text">Favor ingresar únicamente letras</div>
              </div>
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12 ibck" style="display: block;"> 
              <label for="phone">Número de teléfono:</label>
              <input ng-model="vm.asis.phone" pattern="[0-9]+" id="phone" type="text" class="form-control" minlength="8" maxlength="8" name="phone">
              <div id="ng-message" ng-messages="userFormAsis.phone.$error" ng-hide="userFormAsis.phone.$pristine">
                <div ng-message="pattern" ng-hide="userFormAsis.phone.$pristine" class="red darken-2 center-align white-text">Ingrese únicamente números-</div>
                <div ng-message="minlength" ng-hide="userFormAsis.phone.$pristine" class="red darken-2 center-align white-text">Complete la cantidad de numeros.</div>
                <div ng-message="maxlength" ng-hide="userFormAsis.phone.$pristine" class="red darken-2 center-align white-text">Complete la cantidad de numeros.</div>
              </div>
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12 ibck">
              <label>Avatar:</label>
                <div class="input-group">
                  <label for="photoAsis" class="input-group-btn">
                    <span class="btn btn-primary" style="background-color: #FBB803; color: black">Escoger&hellip;<input type="file" style="display: none;" id="photoAsis" multiple ng-model="vm.pimage">
                    </span>
                  </label>
                  <input type="text" class="form-control" style="color: black" readonly>
                </div>
                <div ng-messages="userFormAsis.photoAsis.$error" ng-hide="userFormAsis.photoAsis.$pristine">
                  <div ng-message="required" ng-hide="userFormAsis.photoAsis.$pristine" class="red darken-2 center-align white-text">Este campo es requerido</div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="display: block; text-align: center;"> 
                <button type="submit" id="btnRegister" ng-disabled="userFormAsis.$invalid" class="btn btn-warning btn-embossed" ng-click="userFormAsis.$setPristine()">Registrar</button>
            </div>
          </form>
        </div>

        <div id="list" class="bhoechie-tab-content">
          <div class="listUsers">Lista de usuarios
          <input id="searchUser" class="form-control pull-right" style="margin-left: 25px" type="text" placeholder="Buscar...." ng-model="vm.searchUser">
            <select id="selectUsers" class="form-control select select-primary pull-right" data-toggle="select" ng-model="vm.search" ng-change="vm.verify()">
              <option value="" disabled="disabled">Filtrar rol de usuario:</option>
              <option value="admin">Administrador</option>
              <option value="professor">Profesor</option>
              <option value="assistant">Asistente</option>
              <option value="student">Estudiante</option>
            </select>
          </div>
          <div class="panel-body">
            
            <div ng-Show="vm.empty">
              <p>No existen usuarios por mostrar</p>
            </div>
            <div class="card" id="myScrollspy">
               <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Correo electrónico</th>
                      <th>Teléfono</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in vm.users | filter:{role:vm.search} | filter:{name:vm.searchUser}">
                      <td>{{user.name}}</td>
                      <td>{{user.surname + ' ' + user.secondSurname}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Modal de profesores -->

<div id="regProf-Modal" class="modal fade" role="dialog" style="margin-top: 20vh">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="colorWhite">{{vm.modal.title}}</h2>
        <button type="button" class="close" id="thex" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{vm.modal.body}}</p> 
      </div>
      <div class="modal-footer">
        <div class="unModal-footer">
          <button type="button" class="btn btn-sm btn-embossed btn-danger pull-right" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->


<!-- Modal de administradores -->
<div id="regAdmi-Modal" class="modal fade" role="dialog" style="margin-top: 20vh">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="colorWhite">{{vm.modal.title}}</h2>
        <button type="button" class="close" id="thex" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{vm.modal.body}}</p> 
      </div>
      <div class="modal-footer">
        <div class="unModal-footer">
          <button type="button" class="btn btn-sm btn-embossed btn-danger pull-right" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->

<!-- Modal de asistente -->
<div id="regAsis-Modal" class="modal fade" role="dialog" style="margin-top: 20vh">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="colorWhite">{{vm.modal.title}}</h2>
        <button type="button" class="close" id="thex" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{vm.modal.body}}</p> 
      </div>
      <div class="modal-footer">
        <div class="unModal-footer">
          <button type="button" class="btn btn-sm btn-embossed btn-danger pull-right" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div><!--FinModal-Content-->
  </div><!--FinModal-Dialog-->
</div><!--FinModal-->