<section>
    <div class="panel panel-info" >
      <div class="panel-header">
        <h1>Registro de Usuarios</h1>
      </div>

      <div class="panel-body" >
        <form name="userFormProf">

        <div class="Registro de Profesores">
        <h3>Profesores</h3>

          <div class="input-group">
            <label>Nombre:</label>
                <input ng-model="userProfessorCtrl.prof.name" id="txtName" type="text" class="form-control" name="name" placeholder="Ingrese el nombre" required>
          </div>

          <div class="input-group">
            <label>Primer Apellido:</label>
                <input ng-model="userProfessorCtrl.prof.lastName" id="txtlastName" type="text" class="form-control" name="lastName" placeholder="Ingrese el Apellido" required>
          </div>

           <div class="input-group">
            <label>Segundo Apellido:</label>
                <input ng-model="userProfessorCtrl.prof.surName" id="txtsurName" type="text" class="form-control" name="surName" placeholder="Ingrese el Apellido" required>
          </div>

          <div class="input-group">
            <label>Especialidad:</label>
                <input ng-model="userProfessorCtrl.prof.specialty" id="txtspecialty" type="text" class="form-control" name="specialty" placeholder="Ingrese la especialidad" required>
          </div>

          <div class="input-group">
            <label>Correo:</label>
                <input ng-model="userProfessorCtrl.prof.email" id="txtemail" type="email" class="form-control" name="email" placeholder="Ingrese el correo" required>
          </div>

           <div class="input-group">
            <label>Contrase;a:</label>
                <input ng-model="userProfessorCtrl.prof.password" id="txtPassword" type="password" class="form-control" name="password" placeholder="Contraseña" required unique>
            </div>

          <div class="input-group">
            <label>Miembro del Consejo</label>
            <select class="form-control" required ng-model="userProfessorCtrl.prof.consejo" name="consejo">
              <option value="" disabled>Seleccione una opción</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>


          <div class="input-group">
            <label>Habilitado para proyectos:</label>
            <select class="form-control" required ng-model="userProfessorCtrl.prof.hability" name="habilit">
              <option value="" disabled>Seleccione una opción</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>

          <div class="input-group">
          <label>Avatar</label>
          <input type="file"  required id="photo" ng-model="userProfessorCtrl.prof.image">
        </div>

           <div class="input-group"> 
            <input ng-disabled="userFormProf.$valid" type="submit" ng-click="userProfessorCtrl.preSave()" class="btn1" value="Registrar Usuario">
          </div>
        </div>
        </form>
      </div>
    </div>
</section>

<section>
<div class="Eliminar usuarios">
  <form name="userFormProfDelete">

    <div class="input-group">
      <label for="repeatSelect">Eliminar y/o Modificar Profesor</label>

        <div ng-repeat="professor in userProfessorCtrl.userProfessorList">
          <label>{{ professor.name }}</label>
          <button ng-click="userProfessorCtrl.deleteProf($index)">Eliminar</button>
          <button id="modi" ng-click="userProfessorCtrl.editProf($index,professor.name)">Modificar</button>
    </div>

  </form>
</div>
</section>  

<section>
  <!--Muestra el detalle de la solicitud seleccionada-->
<!--la idea es que sea un modal-->
<div class="unModal" id="modi" ng-Show="userProfessorCtrl.edit.modal">
  <div class="unModal-header">
    <label>Información de {{ userProfessorCtrl.edit.professor.name }}</label>
  </div>
  <!--despliega todo el contenido de la solicitud-->
  <div class="unModal-body">
      <div class="input-group">

          <div class="input-group">
            <label>Especialidad:</label>
                <input ng-model="userProfessorCtrl.edit.specialty" id="txtspecialty" type="text" class="form-control" name="specialty2" placeholder="Ingrese la especialidad" required>
          </div>


          <div class="input-group">
            <label>Miembro del Consejo</label>
            <select class="form-control" required ng-model="userProfessorCtrl.edit.consejo" name="consejo2">
              <option value="" disabled>Seleccione una opción</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>


          <div class="input-group">
            <label>Habilitado para proyectos:</label>
            <select class="form-control" required ng-model="userProfessorCtrl.edit.hability" name="habilit2">
              <option value="" disabled>Seleccione una opción</option>
              <option value="Si">Si</option>
              <option value="No">No</option>  
            </select>
          </div>

          <div class="input-group">
          <label>Avatar</label>
          <input type="file"  required id="photo" ng-model="userProfessorCtrl.edit.image">
        </div>
  </div>
  <!--procesamiento de la solicitud (aprueba o rechaza)-->
  <div class="unModal-footer">
    <button ng-click="preModify($index)">Modificar Información</button>
  </div>

</div>
</section>


