<div ng-include="'./../components/includes/_mainHeader.html'"></div>
<!-- <main>
  <section class="col-md-12" id="banner">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2>Cenfotec Software House</h2>

  <section id="nosotros">
    <div class="container">
      <div class="col-md-2 col-md-offset-5 text-center">
        <h2></h2>
      </div>
    </div>
    <div class="container">
      <div class="col-md-6" id="description">
        <p>El Cenfotec Software House es un proyecto de emprendimiento académico y profesional dentro de la Universidad Cenfotec, donde los estudiantes de la Universidad brindan servicios a la comunidad, asesorados por profesores expertos en diferentes áreas, con precios muy asequibles.</p>
        <p>Los estudiantes que participan del Cenfotec Software House, son estudiantes que han demostrado un nivel de excelencia mayor, que cuentan con altas habilidades tanto técnicas como blandas y con el deseo de ser parte del equipo.</p>
        <p>Cada equipo de trabajo del Cenfotec Software House, cumple con las etapas y las mejores prácticas, según cada caso. Además , se mantendrá en periódica comunicación con el interesado para validar diferentes aspectos del proyecto.</p>
        <p>El Cenfotec Software House brinda a los estudiantes que trabajan en los proyectos, becas como remuneración a su participación.</p>
      </div>
      <div id="cenfo" class="col-md-6">
        <img src="imgs/back01.jpg" alt="" width="500px">
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <div class="col-md-2 col-md-offset-5 text-center">
        <h2>Servicios</h2>
      </div>
    </div>
    <div class="container">
      <div class="col-md-4 col-md-offset-2">
        <ul>
          <li>
            <p><span class="fa fa-pencil-square-o"></span>Desarrollo y diseño de prototipos</p>
          </li>
          <li>
            <p><span class="fa fui-html5"></span>Desarrollo y diseño web</p>
          </li>
          <li>
            <p><span class="fa fa-code-fork"></span>Desarrollo de apps</p>
          </li>
          <li>
            <p><span class="fa fa-server"></span>Desarrollo de aplicaciones</p>
          </li>
        </ul>
      </div>
      <div  class="col-md-4">  
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <p><span class="fa fa-cogs"></span>Pruebas de calidad de software</p>
          </li>
          <li>
            <p><span class="fa fa-list"></span>Confección de requerimientos</p>
          </li>
          <li>
            <p><span class="fa fa-database"></span>Diseño de bases de datos</p>
          </li>
          <li>
            <p><span class="fa fa-rocket"></span>Apoyo en proyectos/ Programa Semilla</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="contacto">
    <div class="container">
      <div class="col-md-2 col-md-offset-5">
        <h2></h2>
      </div>
    </div>
    <div class="direccion">
      <div class="col-md-4 col-md-offset-2">
        <p><i class="fui-location"></i>Santa Marta, San Pedro de Montes de Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José. Costa Rica.</p>
        <p><i class="fui-chat"></i></p>
        <p><i class="fa fa-phone"></i></p>
      </div>

      <div>
        <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1965.0058695363427!2d-84.03107!3d9.932979860539223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1suniversidad+cenfotec!5e0!3m2!1ses!2s!4v1396040769596" width="450" height="300" frameborder="0"></iframe>
      </div>
    </div>
    <div>
      
    </div>
  </section>
</main>

<footer>
  <div class="footer-copyright">
    <div class="container">
      <div class="col-sm-2 col-sm-offset-5 text-center">
          <p>Universidad Cenfotec. Derechos reservados 2017</p>

          <p><a href="https://www.geniussoft.net/" id="genius">Genius Soft</a> | 2017</p>
      </div>
    </div>
  </div>
</footer> -->
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand hidden navbar-link" href="#"> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav main-nav">
                    <li role="presentation"><a href="#" id="home">Home </a></li>
                    <li role="presentation"><a href="#">About </a></li>
                    <li role="presentation"><a href="#">Contact </a></li>
                    <li role="presentation"><a href="#">Sitemap </a></li>
                    <li role="presentation"><a href="#">Declaimer </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"></div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Cenfotec Software House</h1>
                    <p>Haga realidad sus proyectos con nosotros</p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-graduation-cap"></i> Estudiantes de Cenfotec</a><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-briefcase"></i> Solicitudes de proyecto</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Nosotros</h2>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Famous tech website</footer>
        </blockquote>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
                            <p>Cloud-ready </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                            <p>Saves You Money</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
                            <p>Fire Proof</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-map-marker icon"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                        <h3 class="name">Customizable </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-leaf icon"></i>
                        <h3 class="name">Organic </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-plane icon"></i>
                        <h3 class="name">Fast </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                        <h3 class="name">Mobile-first</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Dirección</h2>
                <p class="text-center">Santa Marta, San Pedro de Montes de Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José. Costa Rica.</p>
            </div>
        </div>
        <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1965.0058695363427!2d-84.03107!3d9.932979860539223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1suniversidad+cenfotec!5e0!3m2!1ses!2s!4v1396040769596" width="100%" height="450" frameborder="0"></iframe>
        <footer>
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">Company<span>logo </span></a></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                    <p
                    class="company-name">Cenfotec Software House © 2017</p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">21 Revolution Street</span> San José, Costa Rica</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left">+506 2281-1555</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">softwarehouse@ucenfotec.ac.cr</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>Cenfotec Software Hosue</h4>
                    <p>Cenfotec Software le propone soluciones a sus necesidades, con las mejores tecnologías</p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>