<!--=======================================================================================
=            Este el component de Cenfotec Sotware House Ver proyecto       =
========================================================================================-->
<div class="dashboard">
  <div class="wrap">
    <h1 style="color: #000">Estas en el proyecto ID: {{ watchProjectCtrl.projectId }}</h1>
    <div class="row cf">
      <div class="col-sm-12 col-md-6">
        <div class="projectBox">
          
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="box">
          <h1 class="boxTitle">Datos del Proyecto</h1>
          <div class="boxContent">
            <p>Nombre: {{ watchProjectCtrl.project.nombre }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
