 <header>

    <nav class="navbar navbar-inverse" id="color">
      <!-- El logotipo y el icono que despliega el menú se agrupan
           para mostrarlos mejor en los dispositivos móviles -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#banner">Inicio</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><img id='logo' src='imgs/cshLogo.png'></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#">Estudiantes</a></li>
          <li><a href="#">Inicie</a></li>
        </ul>
      
    </nav>
  </header>

  <main>
    <section id="banner">
      <h2>Cenfotec Software House</h2>

      <p>Haga realidad sus proyectos con nosotros</p>
    </section>
    
    <section class="row" id="nosotros">
      <h2>Nosotros</h2>
      
      <div class="col-md-6" id="description">
        <p>El Cenfotec Software House es un proyecto de emprendimiento académico y profesional dentro de la Universidad Cenfotec, donde los estudiantes de la Universidad brindan servicios a la comunidad, asesorados por profesores expertos en diferentes áreas, con precios muy asequibles.</p>

        <p>Los estudiantes que participan del Cenfotec Software House, son estudiantes que han demostrado un nivel de excelencia mayor, que cuentan con altas habilidades tanto técnicas como blandas y con el deseo de ser parte del equipo.</p>

        <p>Cada equipo de trabajo del Cenfotec Software House, cumple con las etapas y las mejores prácticas, según cada caso. Además , se mantendrá en periódica comunicación con el interesado para validar diferentes aspectos del proyecto.</p>

        <p>El Cenfotec Software House brinda a los estudiantes que trabajan en los proyectos, becas como remuneración a su participación.</p>
      </div>

      <div id="cenfo" class="col-md-6">
        <img src="../../imgs/back01.jpg" alt="" width="500px">
      </div>
    </section>

    <section id="services">
      <h2>Servicios</h2>
      
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-2">
          <ul>
            <li>
              <p><span class="fa fa-pencil-square-o"></span>Desarrollo y diseño de prototipos</p>
            </li>
            <li>
                <p><span class="fa fa-code"></span>Desarrollo y diseño web</p>
            </li>
            <li>
                <p><span class="fa fa-code-fork"></span>Desarrollo de apps</p>
            </li>
            <li>
                <p><span class="fa fa-server"></span>Desarrollo de aplicaciones</p>
            </li>
          </ul>
        </div>

        <div class="col-md-2" id="fondo2">
        </div>

        <div class="col-md-2">
          <ul>
             <li>
                <p><span class="fa fa-cogs"></span>Pruebas de calidad de software</p>
            </li>
            <li>
                <i  ></i>
                <p><span class="fa fa-list"></span>Confección de requerimientos</p>
            </li>
            <li>
                <p><span class="fa fa-database"></span>Diseño de bases de datos</p>
            </li>
            <li>
                <p><span class="fa fa-rocket"></span>Apoyo en proyectos/ Programa Semilla</p>
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
    </section>

    <footer>
      <div class="footer-main" id="contacto">
        <div class="landingContainer">
          <div class="cf">
            <div class="footerFirst">
              <h4>Dirección</h4>
              <p class="grey-text text-lighten-4">
              Santa Marta – SAN Pedro de Montes de Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José. Costa Rica.</p>
              <div class="icons"></div>
             <p><i class="fa fa-envelope-o"></i>softwarehouse@ucenfotec.ac.cr</p>
             <p><i class="fa fa-phone"></i>+506 2281-1555</p>
            </div>
           
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="landingContainer">
          <p>Universidad Cenfotec. Derechos reservados 2017</p>

          <p><a href="https://www.geniussoft.net/">Genius Soft</a> | 2017</p>
        </div>
      </div>
  </footer>

  </main>