<main>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Solicitudes de proyectos</div>
				<div class="panel-body">
					<div class="card">
					  <ul class="list-group list-group-flush" id="myScrollspy">
					  <!-- Trigger the modal with a button -->
					    <li class="list-group-item">Proyecto 0<button class="btn btn-sm btn-embossed btn-warning pull-right" data-toggle="modal" data-target="#myModal">Ver solicitud</button></li>
					    <li class="list-group-item">Proyecto a<button class="btn btn-sm btn-embossed btn-warning pull-right">Ver solicitud</button></li>
					    <li class="list-group-item">Proyecto b<button class="btn btn-sm btn-embossed btn-warning pull-right">Ver solicitud</button></li>
					    <li class="list-group-item">Proyecto c<button class="btn btn-sm btn-embossed btn-warning pull-right">Ver solicitud</button></li>
					    <li class="list-group-item">Proyecto d<button class="btn btn-sm btn-embossed btn-warning pull-right">Ver solicitud</button></li>
					  </ul>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Lista de proyectos
					<select class="form-control select select-primary pull-right" data-toggle="select" ng-model="search">
			      		<option value="" disabled="disabled">Seleccione un estado</option>
				      	<option ng-repeat="state in vm.statesList" ng-value="{{state.id}}" >{{state.name}}</option>
				    </select>
				</div>
				<div class="panel-body">
					<!--mensaje para cuando no existen proyectos-->
					<div class="item" ng-Show="vm.message">
						<p class="itemName">No existen proyectos con el estado "{{vm.state.name}}"</p>
					</div>
					<div class="card">
					  <ul class="list-group list-group-flush" id="myScrollspy">
					    <li class="list-group-item" ng-repeat="project in vm.projects | filter:{state_key:search}">
					    	{{project.name}}
					    	<button ui-sref="watchProject({ proyectoId: {{ project.id }} })" class="btn btn-sm btn-embossed btn-warning pull-right">Ver proyecto</button>
					    </li>
					  </ul>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div><!--Primer row-->
</main>