<main>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#information">
          Información del proyecto
          <span class="glyphicon glyphicon-chevron-down pull-right">
        </div>
        <div id="information" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Nombre: {{ vm.project.name }}</p>
            <p>Empresa: {{ vm.client.company }}</p>
            <p>Estado: {{ vm.status.name }}</p>
          </div>
          <div class="panel-footer">
            <button class="btn btn-sm btn-embossed btn-warning pull-right">Modificar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Row para el panel de archivos-->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ui-view="archivos"></div>
    </div>
  </div>
  <!--Row para el panel de anotaciones-->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ui-view="anotaciones"></div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ui-view="profesores"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ui-view="estudiantes"></div>
    </div>
  </div>
  -->
</main>